!!!

%html{lang: "en"}
  %head

    %title= yield(:title) + " " + "MyApnea.Org"
    = render "layouts/before_scripts"

    %link{ 'href' => 'http://fonts.googleapis.com/css?family=Lato:300,400,700', 'rel' => 'stylesheet', 'type' => 'text/css' }

%body#MyApnea{screen_capture_injected: "true"}
  = render "layouts/myapnea/navigation/top_navigation_bar"


  .container{role: "main"}

    = render "layouts/flash_messages"
    = render "layouts/page_title_heading"

    - if content_for(:sublayout)
      = yield :sublayout # the sublayouts must make their own call to yield
    - else
      = yield

    = render "layouts/myapnea/footer"
    = render "layouts/after_scripts"

