
%table.table
  %tr
    %th.col-sm-2.small= order.to_s.titleize
    %th.col-sm-8.small Question
    %th.col-sm-2.small Vote

  - i = 0
  - @research_topics.each do |research_topic|
    - i += 1
    %tr
      %td
        - if order == :rank
          = "#{i}."
        - elsif order == :created_at
          %str
            = my_strftime(research_topic.created_at)
        - elsif order == :last_activity_at
          %str
            = my_strftime(research_topic.last_activity_at)
      %td
        = link_to research_topic.text, research_topic_path(research_topic)

      %td
        - unless research_topic.has_vote?(current_user, 1)
          %a.btn.btn-primary.btn-sm.voting{href: vote_path, data: {research_topic_id: research_topic.id, submit_path: vote_path, research_topic_path: research_topic_path(research_topic)}} Cast Vote
        - else
          %a.btn.btn-default.btn-sm{href: "#"} Retract Vote


.panel-footer.text-center
  = paginate @research_topics





-#%table.table
-#  .list-group
-#    - i = 0
-#    - research_topics.each do |research_topic|
-#      - i += 1
-#      .list-group-item.research_question
-#        .row
-#          .col-md-2
-#            - if order == :rank
-#              %h3.rating
-#                = "#{i}."
-#            - elsif order == :created_at
-#              %str
-#                = my_strftime(research_topic.created_at)
-#            - elsif order == :last_activity_at
-#              %str
-#                = my_strftime(research_topic.last_activity_at)
-#          .col-md-10
-#            .pull-right
-#              - if [true,false].sample
-#                %a.btn.btn-primary.btn-sm{href: "#"} Cast Vote
-#              - else
-#                %a.btn.btn-default.btn-sm{href: "#"} Retract Vote


-#            %h5
-#              = link_to research_topic.text, research_topic_path(research_topic)


-#.col-md-1.col-sm-2
-#  %h3
-#    = link_to vote_path, data: {research_topic_id: research_topic.id, submit_path: vote_path, research_topic_path: research_topic_path(research_topic) }, class: "voting #{'disabled' if disabled}" do
-#      %i.fa.research-star{class: checkbox_class(research_topic)}


-#          .col-md-1.col-sm-2
-#          %h2
-#          %h2.text-center.rating= research_topic.rating



-#              - if current_user and current_user.can_update?(research_topic)
-#              .pull-right
-#                = render partial: "research_topics/state", locals: {research_topic: research_topic}

-#                = link_to research_topic_path(research_topic), method: :delete, class: "btn btn-danger btn-xs" do
-#                  %span.fa.fa-times
-#                  Delete


