.panel.panel-default.research_topics
  .list-group
    - research_topics.each do |research_topic|
      .list-group-item.research_question
        .row
          .col-md-1.col-sm-2
            %h2
              = link_to vote_path, data: {research_topic_id: research_topic.id, submit_path: vote_path, research_topic_path: research_topic_path(research_topic) }, class: "voting #{'disabled' if disabled}" do
                %i.fa.research-star{class: checkbox_class(research_topic)}
          .col-md-1.col-sm-2
            %h2.text-center.rating= research_topic.votes.count
          .col-md-10.col-sm-8
            %h4
              = link_to research_topic.text, research_topic_path(research_topic)
              - if current_user.can_update?(research_topic)
                = link_to "Delete", research_topic_path(research_topic), method: :delete, class: "btn btn-danger btn-xs pull-right"
