.panel.panel-default
  .panel-heading
    %h4.panel-title.pull-left Discussion
    %small.pull-right 0 Comments
    .clearfix
  .panel-body
    %small
      .media
        %a.pull-left
          %img.media-object.img-circle{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seares@gmail.com')}?d=identicon", :width => "48px"}
        .media-body
          %a{:href=>"/blog"}
          Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.

      .media
        %a.pull-left
          %img.media-object.img-circle{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('se@gmail.com')}?d=identicon", :width => "48px"}
        .media-body
          %a{:href=>"/blog"}
          Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.
      .media
        %a.pull-left
          %img.media-object.img-circle{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seares@gmail.com')}?d=identicon", :width => "48px"}
        .media-body
          %a{:href=>"/blog"}
          Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.

      .media
        %a.pull-left
          %img.media-object.img-circle{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('se@gmail.com')}?d=identicon", :width => "48px"}
        .media-body
          %a{:href=>"/blog"}
          Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.
      .media
        %a.pull-left
          %img.media-object.img-circle{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seares@gmail.com')}?d=identicon", :width => "48px"}
        .media-body
          %a{:href=>"/blog"}
          Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.

      .media
        %a.pull-left
          %img.media-object.img-circle{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest('se@gmail.com')}?d=identicon", :width => "48px"}
        .media-body
          %a{:href=>"/blog"}
          Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.

      .media
        %form.form-horizontal
          .form-group
            .col-sm-10
              %input.form-control.input-lg{type: "text", placeholder: "Post your own comments on this topic - coming soon!", disabled: true}
            .col-sm-2
              %button.btn.btn-primary.btn-lg.btn-block{type: 'submit', disabled: true} Reply
