
%table.table
  %tr
    %th.col-sm-2.small= kind.to_s.titleize
    %th.col-sm-8.small Question
    %th.col-sm-2.small Vote

  - i = 0
  - research_topics.each do |research_topic|
    - i += 1
    %tr
      %td
        - if kind == :popular
          = "#{i}."
        - elsif kind == :newest
          %str
            = my_strftime(research_topic.created_at)
        - elsif kind == :most_discussed
          %str
            = my_strftime(research_topic.updated_at)
      %td
        = link_to research_topic.text, research_topic_path(research_topic)

      %td
        - unless research_topic.has_vote?(current_user, 1)
          %a.btn.btn-primary.btn-sm.voting{href: vote_path, data: {research_topic_id: research_topic.id, submit_path: vote_path, research_topic_path: research_topic_path(research_topic)}} Cast Vote
        - else
          %a.btn.btn-default.btn-sm{href: "#"} Retract Vote


.panel-footer.text-center
  = paginate research_topics, param_name: "#{kind}_page", params: {active_tab: kind}