- content_for :community_contributions do
  .row
    .col-md-7
      .panel.panel-primary
        .panel-heading
          Community Contributions
        .panel-body.text-right
          .row
            .col-md-4
              Proposed Questions
              %br/
              %span.h0 56
            .col-md-4
              Votes Cast
              %br/
              %span.h0 329
            .col-md-4
              Being Researched
              %br/
              %span.h0 2

- content_for :your_contributions do
  = render partial: "shared/badge_list", :locals => {badges: [{title:"Inquisitor",body:"You asked 1 research question", earned:true, icon: "fa-question-circle"},
                                                              {title:"Voter",body:"You cast 5 votes", icon: "fa-check-circle-o"},
                                                              {title:"Discusser",body:"You commented on 3 topics", icon: "fa-comments-o"},
                                                              {title:"Great Ideamaker",body:"Your ideas are in the top 25%", icon: "fa-lightbulb-o"} ]}



%ul.nav.nav-tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#popular", role: "tab", "data-target-path" => research_topics_ajax_path} Idea Stage
  %li
    %a{"data-toggle" => "tab", href: "#submitted", role: "tab", "data-target-path" => research_topics_ajax_path} Being Researched
  %li
    %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Complete



.row
  .col-md-3
    %br/
    %ul.nav.nav-pills.nav-stacked
      %li.active
        %a{"data-toggle" => "tab", href: "#popular", role: "tab", "data-target-path" => research_topics_ajax_path} Popular
      - if current_user
        %li
          %a{"data-toggle" => "tab", href: "#voted_on", role: "tab", "data-target-path" => research_topics_ajax_path} My Votes
        %li
          %a{"data-toggle" => "tab", href: "#submitted", role: "tab", "data-target-path" => research_topics_ajax_path} My Submissions
      %li
        %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Newest
  .col-md-9

    / Tab panes
    .tab-content
      #popular.tab-pane.active= render partial: "research_topics/research_topics", locals: {research_topics: ResearchTopic.popular, disabled: false}
      - if current_user
        #voted_on.tab-pane= render partial: "research_topics/research_topics", locals: {research_topics: current_user.research_topics_with_vote, disabled: false}
        #submitted.tab-pane= render partial: "research_topics/research_topics", locals: {research_topics: current_user.submitted_research_topics, disabled: false}
      #newest.tab-pane= render partial: "research_topics/research_topics", locals: {research_topics: ResearchTopic.newest, disabled: false}
    %br/
    = link_to "Add a new research question", new_research_topic_path, class: "btn btn-success btn-sm"



