- title("Research Questions")
.row
  .col-md-12
    .row
      .col-md-2
        %h2
          %i.fa.fa-check-square-o
          3 Votes
        .btn.btn-primary Cast Vote
        %em or
        .btn.btn-default Uncast Vote
      .col-md-10
        = link_to research_prioritization_path, class: "btn btn-primary btn-xs pull-right" do
          .fa.fa-arrow-left
          Back to Research Questions



        %h3
          = @research_topic.text

        %p= @research_topic.description
      %br/



    .panel.panel-default
      .panel-heading
        %h3.panel-title Proposed By...
      .panel-body
        - if !@research_topic.user
          %em
            The user who created this research topic is no longer with us.
        - elsif @research_topic.user.share_research_topics? && @research_topic.user.social_profile.present?
          .media
            %a.pull-left
              = image_tag @research_topic.user.photo_url, :class => "img-responsive img-thumbnail"
            .media-body.small
              %strong
                = @research_topic.user.social_profile.name
              %p
                = @research_topic.user.social_profile.location
            .clearfix
        - else
          Anonymous


    .panel.panel-default
      .panel-heading
        %h3.panel-title Comments
      .panel-body
        - 3.times do
          .media
            .pull-left
              %img{:alt => "...", :src => "comment.user.image"}
            .media-body
              %h4.media-heading Comment.user.social_profile.name
              comment.body
              %br/
              %small comment.created_at




        %hr/

        = text_area :body, placeholder: "Add a comment...", class: 'form-control input-lg'
        = submit_tag(nil, class: "btn btn-success pull-right")


        -#= form_for Comment.new do |f|
        -#  .form-group
        -#    = f.label :body, class: 'sr-only'
        -#    = f.text_area :body, class: 'form-control input-lg', placeholder: "Enter your research question here...", autocomplete: :off
        -#  = f.submit("Submit", class: "btn btn-success pull-right")
        -#  .clearfix

    = render partial: "research_topics/state", locals: {research_topic: @research_topic }

