<a name='post-<%= post.id %>'></a>
<div class="well">
  <div id='post_<%= post_counter + 1 %>' class='post'>
    <% if post.pending_review? %>
      <div class='alert alert-warning alert-dismissible' role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <%= t(".pending_review") %>
        <% if forem_admin_or_moderator?(post.topic.forum) %>
          <% if local_assigns[:mass_moderation] %>
            <%= render "/forem/posts/moderation_tools", :post => post %>
          <% else %>
            <%= form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do %>
              <%= render "/forem/posts/moderation_tools", :post => post %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class='contents row'>
      <div class='user col-md-3'>
        <div class='username'>
          <% if post.user.is_a?(Forem::NilUser) %>
            <%= t(:deleted) %>
          <% else %>
            <%= link_to_if Forem.user_profile_links, post.user.forem_name, [main_app, post.user] %>
          <% end %>
        </div>
        <% if post.user.is_a?(Forem::NilUser) %>
          <%= image_tag 'default-user.jpg', class: "img-responsive img-thumbnail" %>
        <% else %>
          <%= image_tag post.user.photo_url, class: "img-responsive img-thumbnail" %>
        <% end %>
      </div>

      <div class='contents col-md-9'>
        <div class="row">
          <div class="col-md-7">
            <a href='#post-<%= post.id %>'>
              <%= post_time_tag(post) %>
            </a>

            <% if post.reply_to %>
              <span class='in-reply-to'>
                <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user.forem_name}".downcase, "#post-#{post.reply_to.id}" %>
              </span>
            <% end %>
          </div>

          <% if forem_user %>
            <div class="col-md-5">
              <div class='btn-group'>
                <% if can?(:reply, post.topic) %>
                  <% if post.topic.can_be_replied_to? %>
                    <%= link_to t('reply', :scope => 'forem.topic'), forem.new_forum_topic_post_path(post.forum, post.topic, :reply_to_id => post.id), :class => "btn btn-primary btn-xs" %>
                    <%= link_to t('quote', :scope => 'forem.topic'), forem.new_forum_topic_post_path(post.forum, post.topic, :reply_to_id => post.id, :quote => true), :class => "btn btn-xs btn-success" %>
                  <% end %>
                <% end %>
                <% if post.owner_or_admin?(forem_user) %>
                  <% if can?(:edit_post, post.topic.forum) %>
                    <%= link_to t('edit', :scope => 'forem.post'), forem.edit_forum_topic_post_path(post.forum, post.topic, post), :class => "btn btn-info btn-xs" %>
                  <% end %>
                  <% if can?(:destroy_post, post.topic.forum) %>
                    <%= link_to t('delete', :scope => 'forem.topic'), forem.forum_topic_post_path(post.forum, post.topic, post), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger btn-xs" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>

        <p>
          <% if post.user.is_a?(Forem::NilUser) %>
            <span class="text-muted"><%= t(:deleted) %></span>
          <% else %>
            <%= forem_format(post.text) %>
          <% end %>
        </p>

      </div>
    </div>
  </div>
</div>