-### pairing wizard


%h2 Pairing Wizard


-# Pair with Legacy CCFA Partners
- if !current_user.paired_with_lcp

  .panel.panel-default
    .panel-heading
      Legacy CCFA Partners
    .panel-body
      = "If you have previously registered for CCFAPartners.com, we'd love to connect your new account to the data from the existing. Do you know if you've registered with CCFAPartners.com in the past under a different email address other than #{current_user.email}? If so, provide that (or any potential) email address below, and we'll try to make the connection."
      %br/

      = form_tag(pairing_wizard_path, class: "form-inline")
      .form-group
        .input-group
          %label.sr-only{:for => "email"} Email address
          =text_field_tag(:email, nil, class: "form-control", :placeholder => "Alternative Email Address", :type => "email")
      .form-group
        .input-group
          =submit_tag "Try Matching Account", class: "btn btn-success"



-# Pair with Crohnology
-#- if !current_user.paired_with_crohnology?
-#  [ ] Pair this account with my Crohnology Account #{if acct found}
-#  [ ] Create a Crohnology acct #{if no acct found}



-# User allowed to pass?

- if current_user.paired_with_lcp
  %a.btn.btn-primary{href: home_path} Continue
- else
  If you are pretty sure you have no existing CCFA Partners account, you can just set up a new account.
  %a.btn.btn-primary{href: redirect_to_lcp_reg_path} Set up New Account