= render partial: "health_check_in_helper", :locals => { question: "How are you feeling today?", last_updated_at: "7 days ago", first_question: true,
                                               answer_type: :slider, answer_options: ["Horrible", "Amazing"]}



#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  .panel.panel-default
    #headingOne.panel-heading{:role => "tab"}
      %h4.panel-title
        %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          See all other states of this "health check in" survey

    #collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
      .panel-body


        = render partial: "health_check_in_helper", :locals => { question: "How would you describe your general well-being over the last week?", last_updated_at: "7 days ago",
                                                       answer_type: :options, answer_options: ["Generally Well", "Slightly Below Par", "Poor", "Very Poor", "Terrible"]}


        = render partial: "health_check_in_helper", :locals => { question: "On average, over the past week, would you rate your abdominal pain as:", last_updated_at: "7 days ago",
                                                       answer_type: :options, answer_options: ["None", "Mild", "Moderate","Severe"]}

        = render partial: "health_check_in_helper", :locals => { question: "On average, over the past week, how many liquid or very soft stools have you had per day", last_updated_at: "10 days ago",
                                                       answer_type: :text }


        .panel.panel-default
          .panel-body.text-center
            .alert.alert-success
              %p Thank you. You are all Checked in!
              %small= link_to "Back to Last Question"
              |
              %small= link_to "Do Health Check-in Again"

        .panel.panel-default
          .panel-body.text-right
            %small
              You've updated your health in the last 12 hours. Something change?
              = link_to "Do health check-in again."
