- if question
  .panel.panel-default.question{data: {question_id: question.id}, class: ("hidden" unless current )}
    .panel-body
      .row
        .col-md-9
          %h4.text-primary
            = question.text
          - if question.answer_template.display_type.name == "range"
            %input{type: question.answer_template.display_type.input_type, name: "#{question.id}[#{question.answer_template.id}]", id: "question_#{question.id}_#{question.answer_template.id}", min: question.answer_template.min_value, max: question.answer_template.max_value}
            .pull-left.text-primary.small= question.answer_template.bottom_label
            .pull-right.text-primary.small= question.answer_template.top_label

          - elsif question.answer_template.display_type.name == "multiple_choice_buttons"
            %div{data: {toggle: "buttons"}}
              - question.answer_template.answer_options.each do |option|
                %label.btn.btn-primary
                  %input{type: question.answer_template.display_type.input_type, autocomplete: "off", value: option.value, name: "#{question.id}[#{question.answer_template.id}]", id: "question_#{question.id}_#{question.answer_template.id}"}
                  = option.value
          - elsif question.answer_templates
            .input-group.col-md-6
              %input.form-control{:type => "text"}
              %span.input-group-btn
                %button.btn.btn-primary.submit Submit

        .col-md-3.text-right
          %small.muted
            Last Updated
            = answer_session.updated_at.localtime.to_formatted_s(:short)
          %br/
          - unless question == answer_session.question_flow.first_question
            %small
              = link_to "Back to Last Question", "#", class: "prev-question", data: { prev_question_id: question.previous_question(question_flow).id }