.panel.panel-default
  .panel-body
    .row
      .col-md-9
        %h4.text-primary
          = question

        %form.form
          - if answer_type == :slider
            .row
              .col-sm-10
                %input{type: "range", name: "points", min: "0", max: "10"}
                .pull-left.text-primary.small= answer_options.first
                .pull-right.text-primary.small= answer_options.last
              .col-sm-2
                %input.form-control{:type => "text", :value => "77"}


          - elsif answer_type == :options
            - answer_options.each do |option|
              .btn.btn-primary.btn-sm= option

          - elsif answer_type == :text
            .input-group.col-md-6
              %input.form-control{:type => "text"}
              %span.input-group-btn
                .btn.btn-primary.btn-sm Submit


      .col-md-3.text-right
        %small.muted
          Last Updated
          = last_updated_at
          = link_to "Back to Last Question", "#" unless (local_assigns[:first_question] == true)
