-##############
-### COMMUNITY CONTRIBUTIONS
-##############
- scores = { "Data Sources" => "121", "Data Points" => "4.6k", "Studies" => "1" }
- content_for :community_contributions, render(:partial => "/shared/community_scoreboard", locals: { scores: scores })


-##############
-### YOUR CONTRIBUTIONS
-##############
- content_for :your_contributions do
  = render partial: "shared/badge_list"




-##############
-### MAIN CONTENT SECTION
-##############
%ul.nav.nav-tabs#tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#my_health_data"} My Health Data
  %li
    %a{"data-toggle" => "tab", :href => "#my_trends"} My Trends
  %li
    %a{"data-toggle" => "tab", :href => "#reports"} My Health Measures
  %li
    %a{"data-toggle" => "tab", :href => "#my_connections"} My Connections
  %li.pull-right
    %a{"data-toggle" => "tab", :href => "#tutorial"}
      %i.fa.fa-info-circle
      Tutorial

%br/

.tab-content
  #my_health_date.active.tab-pane
    = render partial: "my_health_data"

  #my_trends.tab-pane
    = render partial: "my_trends"

  #my_connections.tab-pane
    = render partial: "my_connections"

  #reports.tab-pane
    = render partial: "my_reports"

  #tutorial.tab-pane
    = render partial: "tutorial"


