
- if !blog_posts.any?
  .alert.alert-info No Blog Posts Yet.

- blog_posts.each do |post|

  .row

    .col-md-12

      .media
        .pull-left.media-middle{:href => "#"}
          = image_tag post.user.photo_url, :class => "img-circle" if post.user
          %br/
          = post.author
          = post.created_at.strftime("%m/%d/%Y")


          - if current_user && new_blog_post
            %div
              = link_to "Edit", edit_post_path(post), class: "btn btn-warning btn-xs" if current_user.can_update?(post)
              = link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } if current_user.can_delete?(post)


        .media-body
          %h4.media-heading= post.title
          -#.pull-right= post.created_at.strftime("%m/%d/%Y")

          %p
            = markdown post.introduction
            - if short
              %p= link_to "Read more...", blog_path
            - else
              = markdown post.body

  %br/


- if current_user &&  new_blog_post &&  current_user.can_create?(new_blog_post)
  %hr/

  .panel.panel-success
    .panel-heading
      %h4.panel-title Create new blog post
    .panel-body
      = render partial: 'posts/form', locals: { post: new_blog_post }


-#%br
-#%small
-#  Tags:
-#  - post.tag_list.each do |tag|
-#    %span.label.label-primary= tag

