%blockquote.intro
  I am so pleased to share our first “Sleep in the News” story. Please
  %a.u-voice{href: "#"} let us know
  which topics you want to hear discussed and share your own important sleep news updates. Please check back for updates on the work we are all doing to improve awareness and treatment of sleep apnea.
  %footer.pull-right
    %cite
      Susan Redline, MD, MPH, MyApnea.Org Principal Investigator
      and Professor of Sleep Medicine, Harvard Medical School

%br
%br
.panel.panel-default.panel-disabled
  .panel-heading
    .row
      .col-md-1
        = image_tag "myapnea/team/redline.jpg", :class => "img-responsive img-circle"
      .col-md-11
        =link_to blog_path do
          %h4.media-heading Sleep Apnea Treatment: Can Nighttime Oxygen Use Replace CPAP machines?
        %small
          Susan Redline, MD, MPH, MyApnea.Org Principal Investigator and Professor of Sleep Medicine, Harvard Medical School
        %br
        %small
          %strong 9/2/2014

  .panel-body
    %p Over the years, my colleagues and I have had requests to prescribe oxygen to treat sleep apnea in patients who did not do well with CPAP (continuous positive airway pressure therapy, a machine that helps patients breathe more easily while they sleep). These requests for oxygen prescriptions made sense, since some of the problems of sleep apnea results when a person with apnea stops breathing during sleep. However, there has been little research evaluating oxygen as a sleep apnea treatment. So we designed the Heart Biomarker Evaluation in Apnea Treatment (HeartBEAT) study.
    - if short
      %p= link_to "Read more...", blog_path
    - else

      %h4 The Study
      %p With funding from the American Recovery and Reinvestment Act, we conducted a clinical trial at four U.S. medical centers. The trial compared health outcomes of patients who only received healthy lifestyle and sleep education with health outcomes of patients who received the education and either CPAP or nighttime oxygen (also called nocturnal supplemental oxygen).
      %p We enrolled 318 patients with sleep apnea and risk factors for heart disease and followed them for 3 months. The main health outcome we looked at was 24-hour blood pressure level which is blood pressure that is measured every 20 to 30 minutes over a single 24 hour period, measured using a blood pressure cuff that records blood pressure during the day and night. Twenty-four-hour blood pressure is often higher in patients with sleep apnea and contributes to risk of stroke and heart attack.
      %h4 Study Results
      %p
        The results of the trial were published in the
        =link_to "New England Journal of Medicine in June 2014.", 'http://www.nejm.org/doi/full/10.1056/NEJMoa1306766'
        We found that CPAP reduced blood pressure levels significantly better than either education alone or supplemental oxygen. The effect of CPAP on blood pressure was greatest at night, when sleep apnea often prevents the fall in blood pressure that most people have. Also, the decrease in blood pressure was seen even in patients who had generally well-controlled blood pressure (measured during routine clinic visits).
      %h4 What does this research mean to you?
      %p The study was designed to directly address the role of oxygen and CPAP in reducing heart disease risk factors, such as improving blood pressure control. It focused on patients who had risk factors for heart disease, had moderate or more severe sleep apnea, and were not very sleepy.
      %p
        The study shows that CPAP does have a positive effect on blood pressure control, but that supplemental oxygen does not have an effect on blood pressure control. The average improvement in blood pressure levels from CPAP was small (2 to 4 points), but the improvement occurred in addition to the effects of blood pressure medications.
        %strong This improvement in blood pressure is estimated to reduce, on average, the risk of death from stroke by 10%.
        Because sleep apnea often raises nighttime blood pressure levels, and many people don’t know it, the study findings suggest that CPAP may benefit many patients with sleep apnea.
        
        
        

- blog_posts.each do |post|
  .panel.panel-default
    .panel-heading
      .row
        .col-md-1
          = image_tag post.user.photo_url, :class => "img-responsive img-thumbnail" if post.user
        .col-md-11
          - if current_user
            .btn-group.pull-right
              = link_to "Edit", edit_post_path(post), class: "btn btn-warning btn-xs" if current_user.can_update?(post)
              = link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: "Are you sure?" } if current_user.can_delete?(post)
          =link_to blog_path do
            %h4.media-heading= post.title
          %small
            = post.author
          %br
          %small
            %strong= post.created_at.strftime("%m/%d/%Y")
          %br
          %small
            Tags:
            - post.tag_list.each do |tag|
              %span.label.label-primary= tag
    .panel-body
      %p= markdown post.introduction
      - if short
        %p= link_to "Read more...", blog_path
      - else
        = markdown post.body
- if current_user and current_user.can_create?(new_blog_post)
  .panel.panel-warning
    .panel-heading
      %h3 Create new blog post
    .panel-body
      = render partial: 'posts/form', locals: { post: new_blog_post }
