%li.list-group-item.list-group-item.list-group-item-warning
  %h4 Add a New Notification
  = form_for Post.new, url: "", class: '' do |f|
    .form-group
      = f.label :title, class: 'sr-only'
      = f.text_field :title, class: 'form-control input-lg', placeholder: "Title of Post", autocomplete: :off, disabled: true
    .form-group
      = f.label :user, "Author", class: 'sr-only'
      = f.text_field :user, class: 'form-control input-lg', placeholder: "Author", autocomplete: :off, disabled: true  #TODO: Chosen Author
    .form-group
      = text_field_tag :tags, nil, class: 'form-control input-lg', placeholder: "Tags", autocomplete: :off, disabled: true  #TODO: Chosen Tags
      = # Chosen Tags
    .form-group
      = f.label :body, class: 'sr-only'
      = f.text_area :body, placeholder: "Body of Post", class: 'form-control', disabled: true
    = f.submit :post, class: "btn btn-success pull-right", disabled: true
    .clearfix
