<%=  render partial: 'forem/admin/base/nav' %>

<div class="row">
  <div class="col-md-8"><h4><%= t('forem.admin.group.index') %></h4></div>
  <div class='col-md-4'><%= link_to t('forem.admin.group.new'), forem.new_admin_group_path, :class => "btn btn-primary btn-sm pull-right" %></div>
</div>

<table id='groups' class='index table table-striped' cellspacing='0'>
  <thead>
    <tr>
      <th><%= t('edit', :scope => 'forem.admin.groups') %></th>
      <th><%= t('delete', :scope => 'forem.admin.groups') %></th>
      <th><%= t('name', :scope => 'forem.admin.groups') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>
          <%= link_to t('edit', :scope => 'forem.admin.groups'), forem.admin_group_path(group), class: 'btn btn-info btn-sm' %>
        </td>
        <td>
          <%= link_to t('delete', :scope => 'forem.admin.groups'), forem.admin_group_path(group), :method => :delete, class: 'btn btn-danger btn-sm' %>
        </td>
        <td>
          <%= link_to forem_emojify(group.name), forem.admin_group_path(group) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'forem/admin/base/footer' %>
