<%=  render partial: 'forem/admin/base/nav' %>

<div class="row">
  <div class="col-sm-8"><h4><%= t('forem.admin.group.members', :group => forem_emojify(@group.name)) %></h4></div>
  <div class='col-sm-4'><%= link_to t('back_to_groups', :scope => "forem.admin"), admin_groups_path, class: 'btn btn-default pull-right' %></div>
</div>
<%= form_tag add_admin_group_members_url(@group), class: '' do %>
  <div class="form-group">
    <%= select_tag :user_id, options_from_collection_for_select(User.all.order(:email), :id, :email), {multiple:true, rel: 'chosen', class: 'form-control'} %>
  </div>
  <%= submit_tag "Update", :class => "btn btn-primary pull-right" %>
<% end %>



<%=  render partial: 'forem/admin/base/footer' %>
