-##############
-### COMMUNITY CONTRIBUTIONS
-##############
- scores = { "Members" => User.count, "Research Ideas" => ResearchTopic.count, "Surveys Completed" => AnswerSession.count, "Health Data Streams" => User.health_data_streams_count }
- content_for :community_contributions, render(:partial => "/shared/community_scoreboard", locals: { scores: scores })


-##############
-### YOUR CONTRIBUTIONS
-##############
- content_for :your_contributions do
  = render partial: "shared/badge_list"





-# REFACTOR ME
- @patient_team = User.with_role(:patient_team).shuffle.first(6)
- @patient_posts = Post.blog_posts.where("user_id IN (?)", @patient_team.collect(&:id))
- @research_team = User.with_role(:research_team).shuffle.first(6)
- @research_posts = Post.blog_posts.where("user_id IN (?)", @research_team.collect(&:id))
- @tech_team = User.with_role(:tech_team).shuffle.first(6)
- @tech_posts = Post.blog_posts.where("user_id IN (?)", @tech_team.collect(&:id))
- @all_team = (@patient_team+@research_team+@tech_team).shuffle.first(6)
- @all_posts = Post.blog_posts.where("user_id IN (?)", @all_team.collect(&:id))
- @help_center_team = User.with_role(:help_center).shuffle.first(6)
- @help_center_posts = Post.blog_posts.where("user_id IN (?)", @help_center_team.collect(&:id))




-####################
-#HOME/INDEX.HAML (AKA DASHBOARD)
- if Figaro.env.oodt_enabled && current_user
  .alert.alert-info
    -if !current_user.oodt_baseline_survey_complete
      %strong You need to complete your baseline survey!
      = link_to "Click here to do it.", current_user.oodt_baseline_survey_url
    -else
      Great, you've completed your baseline survey!





-##############
-### MAIN CONTENT SECTION
-##############
%h3 Blog Posts

%ul.nav.nav-tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#all-blogs", role: "tab"} All Team Members
  %li
    %a{"data-toggle" => "tab", href: "#patient-blogs", role: "tab"} Patient Team
  %li
    %a{"data-toggle" => "tab", href: "#research-blogs", role: "tab"} Research Team
  %li
    %a{"data-toggle" => "tab", href: "#tech-blogs", role: "tab"} Tech Team
  %li
    %a{"data-toggle" => "tab", href: "#help-center-blogs", role: "tab"} Help Center
  %li.pull-right
    %a{"data-toggle" => "tab", href: "#tutorial", role: "tab"}
      %i.fa.fa-info-circle

%br/

/ Tab panes
.tab-content
  #all-blogs.tab-pane.active
    = render partial: "shared/team_carousel", locals: { users: @all_team }
    = render partial: "shared/blog_posts", locals: { blog_posts: @all_posts, new_blog_post: nil, short: false }
  #patient-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: @patient_team }
    = render partial: "shared/blog_posts", locals: { blog_posts: @patient_posts, new_blog_post: nil, short: false }
  #research-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: @research_team }
    = render partial: "shared/blog_posts", locals: { blog_posts: @research_posts, new_blog_post: nil, short: false }
  #tech-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: @tech_team }
    = render partial: "shared/blog_posts", locals: { blog_posts: @tech_posts, new_blog_post: nil, short: false }
  #help-center-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: @help_center_team }
    = render partial: "shared/blog_posts", locals: { blog_posts: @help_center_posts, new_blog_post: nil, short: false }
    = mail_to Figaro.env.pprn_info_email, "<i class='fa-envelope-o fa'></i> Ask a Question of the IBD Help Center".html_safe, {subject: "Ask your question to the IBD Help Center here.", class: "btn btn-success"}
  #tutorial.tab-pane
    Tutorial Goes Here


-##### HOW TO LOAD AJAXY ######
-# %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Published Research
-# %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Newest
-# .tab-content
-#   #popular.tab-pane.active= render partial: "research_topics/research_topics", locals: {research_topics: ResearchTopic.popular(current_user), disabled: false}

