-##############
-### COMMUNITY CONTRIBUTIONS
-##############
- scores = { "Members" => User.count, "Research Ideas" => ResearchTopic.count, "Surveys Completed" => AnswerSession.count, "Health Data Streams" => User.health_data_streams_count }
- content_for :community_contributions, render(:partial => "/shared/community_scoreboard", locals: { scores: scores })


-##############
-### YOUR CONTRIBUTIONS
-##############
- content_for :your_contributions do
  = render partial: "shared/karma_badge"
  = render partial: "shared/badge_list"




-##############
-### MAIN CONTENT SECTION
-##############
%h3 Blog Posts

%ul.nav.nav-tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#all-blogs", role: "tab"} All Team Members
  %li
    %a{"data-toggle" => "tab", href: "#patient-blogs", role: "tab"} Patient Team
  %li
    %a{"data-toggle" => "tab", href: "#research-blogs", role: "tab"} Research Team
  %li
    %a{"data-toggle" => "tab", href: "#tech-blogs", role: "tab"} Tech Team
  %li.pull-right
    %a{"data-toggle" => "tab", :href => "#tutorial"}
      %i.fa.fa-info-circle

%br/

/ Tab panes
.tab-content
  #all-blogs.tab-pane.active
    = render partial: "shared/team_carousel", locals: { users: User.with_role(:admin).limit(6) }
    = render partial: "shared/blog_posts", locals: { blog_posts: @posts, short: false }
  #patient-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: User.with_role(:patient_team).limit(6) }
    = render partial: "shared/blog_posts", locals: { blog_posts: @posts, new_blog_post: @new_post, short: false }
  #research-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: User.with_role(:research_team).limit(6) }
    = render partial: "shared/blog_posts", locals: { blog_posts: @posts, new_blog_post: @new_post, short: false }
  #tech-blogs.tab-pane
    = render partial: "shared/team_carousel", locals: { users: User.with_role(:tech_team).limit(6) }
    = render partial: "shared/blog_posts", locals: { blog_posts: @posts, new_blog_post: @new_post, short: false }
  #tutorial.tab-pane
    Tutorial Goes Here


-##### HOW TO LOAD AJAXY ######
-# %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Published Research
-# %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Newest
-# .tab-content
-#   #popular.tab-pane.active= render partial: "research_topics/research_topics", locals: {research_topics: ResearchTopic.popular(current_user), disabled: false}

