.panel.panel-default
  .panel-heading
    %h3.panel-title Research Team

  - @pprn_research_team.each do |name, title, img_src|
    .panel-body
      .media
        %a.pull-left
          = image_tag img_src, :class => " media-object img-circle user-avatar" if img_src
          = image_tag "default-user.jpg", :class => "media-object img-circle user-avatar" if !img_src
        .media-body.small
          %strong
            = name
          %p
            = title


.panel.panel-default
  .panel-heading
    %h3.panel-title Research Team

  - @pprn_patient_team.each do |name, title, img_src|
    .panel-body
      .media
        %a.pull-left
          = image_tag img_src, :class => " media-object img-circle user-avatar" if img_src
          = image_tag "default-user.jpg", :class => "media-object img-circle user-avatar" if !img_src
        .media-body.small
          %strong
            = name
          %p
            = title