/ ---
/ title: Research Topics
/ ---

.row
  .col-md-9


    .panel.panel-default
      .panel-heading
        %h3.panel-title Dashboard

      .panel-body
        .row
          .col-md-4.text-center
            = image_tag "pie.png", :style => "height: 150px;"
            %h4 Surveys Completed
          .col-md-4.text-center
            = image_tag "donut.png", :style => "height: 150px;"
            %h4 Karma
          .col-md-4.text-center
            = image_tag "gauge.png", :style => "height: 150px;"
            %h4 Data Sources



    .panel.panel-success
      .panel-heading
        %h3.panel-title New Surveys
      %table.table.table-hover.table-responsive
        %tbody
          %tr.success
            %td.col-md-1
              %h4
                %i.fa.fa-check-square
            %td.col-md-10
              %h4 Have you ever done SCD?
            %td.col-md-1.text-right
              %h4 +100
          %tr.success
            %td
              %h4
                %i.fa.fa-square
            %td
              %h4 How does your Gender affect IBD?
            %td.text-right
              %a.btn.btn-success.btn-sm{:href => "/survey"} Complete Survey


    = render :partial => "research_topics", :locals => { :editable => false }





  .col-md-3

    = render :partial => "notifications", :locals => { :editable => false }

