- title("Research")


/ Demo Video Modal
#myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Demo Video
      .modal-body
        = image_tag "demo-video.png", :style => "width: 100%;"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close






.row
  .col-md-3
    = render :partial => "shared/research_nav"



  .col-md-9

    - if current_user
      .panel.panel-default
        .panel-heading
          %h3.panel-title Dashboard

        .panel-body
          .row
            .col-md-4.text-center
              = image_tag "pie.png", :style => "height: 130px;"
              %h4 Surveys Completed
              .req num_surveys_completed, num_surveys_available_since_date
            .col-md-4.text-center
              = image_tag "gauge.png", :style => "height: 130px;"
              %h4 Data Sources Connected
              .req num_data_sources_connected
            .col-md-4.text-center
              %i.fa.fa-star{:style => "font-size: 130px; color: gold;"}
              -#= image_tag "donut.png", :style => "height: 150px;"
              %h4 Stars Applied

    %small
      %br/


    %h4 &nbsp;&nbsp;Research Topics
    / Nav tabs
    %ul.nav.nav-tabs.nav-justified{role: "tablist"}
      %li.active
        %a{"data-toggle" => "tab", href: "#popular", role: "tab"} Most Starred
      %li
        %a{"data-toggle" => "tab", href: "#mine", role: "tab"} My Starred
      %li
        %a{"data-toggle" => "tab", href: "#newest", role: "tab"}
          Newest
          %span.badge 12

    / Tab panes
    .tab-content
      #mine.tab-pane= render partial: "shared/research_topics", locals: {num_loops: 1, star_pattern: :mine, editable: false}
      #popular.tab-pane.active= render partial: "shared/research_topics", locals: {num_loops: 5, star_pattern: :popular, editable: false}
      #newest.tab-pane= render partial: "shared/research_topics", locals: {num_loops: 5, star_pattern: :newest, editable: false}


