/ ---
/ title: People
/ ---

/ -# include MD5 gem, should be part of standard ruby install
/ -require 'digest/md5'

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Map

      = image_tag "map.png", :width => "100%"

    .graphs
    //https://developers.google.com/chart/interactive/docs/gallery?hl=pl

      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Age
            .panel-body
              = image_tag "histogram.png"


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Gender
            .panel-body
              = image_tag "donut.png"


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Location
            .panel-body
              = image_tag "bar.png"

      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Surveys Completed
            .panel-body
              = image_tag "pie.png"


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Research Topics
            .panel-body
              = image_tag "histogram.png"

        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Connected Data Sources
            .panel-body
              = image_tag "pie.png"


    - if ccfa_pprn?
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title More Social Features?
            .panel-body
              Crohnology


  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title How You Look to Others

      %table.table.table-striped.table-responsive
        %tbody
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seanahres@gmail.com')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h3
                  Andy
                Palo Alto, CA

      .panel-footer
        %a.btn.btn-default.center-block{:href=>"/social_profile"} Edit how you look to others




    .panel.panel-default
      .panel-heading
        %h3.panel-title Around You

      %table.table.table-striped.table-responsive
        %tbody
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('2')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Jessica
                San Francisco, CA
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('1')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Brian
                San Francisco, CA
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('2')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Jessica
                San Francisco, CA
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('1')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Brian
                San Francisco, CA