/ ---
/ title: People
/ ---

//https://developers.google.com/chart/interactive/docs/gallery?hl=pl


.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Map

      = image_tag "map.png", :width => "100%"

    .graphs

      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Age
            .panel-body
              = image_tag "histogram.png"
              .req age_distribution (hash of age -> count)


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Sex
            .panel-body
              = image_tag "donut.png"
              .req sex_distribution (sex -> count)


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Location
            .panel-body
              = image_tag "bar.png"
              .req locations (location(lat/lon, city, state, country) -> count)

      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Surveys Completed
            .panel-body
              = image_tag "pie.png"
              .req surveys_completed [date,survey_id]


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Research Topics
            .panel-body
              = image_tag "histogram.png"

        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Connected Data Sources
            .panel-body
              = image_tag "pie.png"
              .req data_sources_connected [date,data_source_id]


    - if ccfa_pprn?
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title More Social Features?
            .panel-body
              Crohnology


  - if current_user
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title How You Look to Others

        %ul.list-group
          %li.list-group-item
            .media
              .pull-left
                = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(rand.to_s)}?d=identicon", :class => " media-object img-circle user-avatar"
              .media-body.small
                %strong
                  = random_name
                %p
                  = random_place

        .panel-footer
          %a.btn.btn-sm.btn-default.center-block{:href=>"/account?tab=social_profile"} Edit how you look to others




      .panel.panel-default
        .panel-heading
          %h3.panel-title Around You

        %ul.list-group
          - 6.times do
            %li.list-group-item
              .media
                .pull-left
                  = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(rand.to_s)}?d=identicon", :class => " media-object img-circle user-avatar"
                .media-body.small
                  %strong
                    = random_name
                  %p
                    = random_place


