/ ---
/ title: People
/ ---

/ -# include MD5 gem, should be part of standard ruby install
/ -require 'digest/md5'

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Map

      %img{:src=>"https://maps.googleapis.com/maps/api/staticmap?center=University+of+North+Carolina&sensor=false&size=900x300&zoom=11", :width => "100%", :class => "map"}

    = render :partial => "/#{@pprn}/discussion"

  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title How You Look to Others

      %table.table.table-striped.table-responsive
        %tbody
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seanahres@gmail.com')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h3
                  Andy
                Palo Alto, CA

      .panel-footer
        %a.btn.btn-default.center-block{:href=>"/social_profile"} Edit how you look to others




    .panel.panel-default
      .panel-heading
        %h3.panel-title Around You

      %table.table.table-striped.table-responsive
        %tbody
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('2')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Jessica
                San Francisco, CA
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('1')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Brian
                San Francisco, CA
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('2')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Jessica
                San Francisco, CA
          %tr
            %td
              %img.img-circle.pull-left{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('1')}?d=identicon", :style => "margin-right: 10px;"}
              .pull-left
                %h4
                  Brian
                San Francisco, CA