- title("Patients")


.row
  .col-md-3
    = render partial: "social_nav"



  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title Map

      = image_tag "map.png", :width => "100%"

    .graphs

      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Age
            .panel-body
              = image_tag "histogram.png"
              .req age_distribution (hash of age -> count)


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Sex
            .panel-body
              = image_tag "donut.png"
              .req sex_distribution (sex -> count)


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Location
            .panel-body
              = image_tag "bar.png"
              .req locations (location(lat/lon, city, state, country) -> count)

      .row
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Surveys Completed
            .panel-body
              = image_tag "pie.png"
              .req surveys_completed [date,survey_id]


        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Research Topics
            .panel-body
              = image_tag "histogram.png"

        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Connected Data Sources
            .panel-body
              = image_tag "pie.png"
              .req data_sources_connected [date,data_source_id]


    - if ccfa_pprn?
      .row
        .col-md-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title More Social Features?
            .panel-body
              Crohnology

