- @title = "Frequently Asked Questions"

= render partial: 'layouts/myapnea/page_header_image', locals: { image: 'myapnea/headers/faqs.jpg', signup_id: "innerSignup" }

.row
  .col-sm-12
    #accordion.panel-group
      .panel.panel-default
        #General.panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
              %h3 General
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            .col-md-10
              %h4 What is MyApnea.Org?
              %p
                MyApnea.Org is a network created by people with sleep apnea to empower others like us to get the answers we want and need through sharing and promoting research. MyApnea.Org offers sleep apnea patients and caregivers the opportunity to
                = link_to "LEARN", learn_path
                more about apnea and effective treatments,
                = link_to "SHARE", share_path
                experiences with other members of the community, and contribute to
                = link_to "RESEARCH", research_path
                to improve diagnosis, management, and treatments for sleep apnea.
              %p MyApnea.Org is what’s called patient-powered research. You and others within the sleep apnea community can share health information, discuss experiences regarding treatment, and express views directly to researchers and sleep experts on future research projects that can make a difference. In return, you will get easy-to-use tools to track your health and learn from others about treatments, symptoms, and coping with sleep apnea to take control of your life.

              %h4 How is MyApnea.Org organized?
              %p
                There are three main sections of MyApnea.Org. One section has information and resources about sleep apnea to help you
                = link_to "LEARN", learn_path
                more about the disorder and how best to manage symptoms. Another section offers different ways for you to connect and
                = link_to "SHARE", share_path
                with others within the MyApnea.Org community. The third section is a
                = link_to "RESEARCH", research_path
                portal, which allows consenting members to participate in research with the aim of improving sleep apnea care and treatments. To accomplish this research, you will be asked to take easy-to-complete surveys and to join other study activities. As we post new surveys, we’ll invite you to complete them, too. You’ll also receive special invitations (at least twice per year) to participate in other parts of the study. We will only ask for your participation in such a study after you've consented to that specific study. You will see all of your study activities and special invitations on your “dashboard” once you join the study.
      .panel.panel-default
        #Registration.panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
              %h3 Registration
        #collapseTwo.panel-collapse.collapse
          .panel-body
            .col-md-10
              %h4 Who can join MyApnea.Org?
              %p Membership in MyApnea.Org is open to any person who has been told by a doctor that they have sleep apnea or who has a concern that they have sleep apnea, and who wants to share and learn from others to shape future research and treatments. Caregivers of family members with sleep apnea will also be able to join and help their loved ones participate.
              %p
                To SHARE with others within MyApnea.Org, we will ask you to
                = link_to 'sign up', new_user_registration_path
                by providing your name, email, password, and birth year. To contribute to the RESEARCH portal, you will need to read and agree to the
                = link_to 'informed consent form', view_consent_path
                in addition to signing up for the site.

              %h4 How do I join MyApnea.Org?
              %p
                It's easy — just
                = link_to 'sign up', new_user_registration_path
                with your name, email, password, and birth year. You can then visit and explore the community pages to learn more about sleep apnea and to talk with other people like you. If you want to join the patient-led research community, you will need to
                = link_to 'read and sign the informed consent', view_consent_path
                before you can join the RESEARCH portal.

              %h4 Why do I have to sign a consent form to participate in the research portal?
              %p The goal of MyApnea.Org is to actively engage thousands of people with sleep apnea to share health information needed for research to improve the health and wellbeing of people with apnea. To collect your information, we need your permission, which you give by signing the consent form.

      .panel.panel-default
        #Participation.panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
              %h3 Participating in the research portal
        #collapseThree.panel-collapse.collapse
          .panel-body
            .col-md-10
              %h4 What's expected of me if I join the research portal?
              %p
                Ideally, we want you to:
                %ol
                  %li Answer the study's health-related questions
                  %li Check in regularly so we have your most up-to-date information
                  %li Let us know which other studies and special invitations you want to participate in
                  %li Participate for at least 2 years so we can track how your health changes over time

              %h4 What are the surveys about?
              %p If you agree to participate in the MyApnea.Org research portal, you will be asked to complete a series of surveys about your sleep, symptoms, and health. The surveys will ask about things such as when you were diagnosed with sleep apnea, treatments you have used, medical illnesses such as high blood pressure, and your energy level. The basic survey will take less than 30 minutes to complete for most people. Some additional surveys may ask for sensitive information such as next of kin or detailed contact information. The surveys will help us learn how to best treat and manage sleep apnea. They will also help us learn what is most important to you about your treatment and disease management. You can do each survey online or on your smartphone whenever convenient for you.

              %h4 How often do I take these surveys?
              %p You will be asked to update information on these surveys every 2 to 6 months, or as your health changes. You’ll also receive occasional special invitations to participate in other studies or take special surveys, depending on your specific health status. The surveys will usually give you an estimate of how long it’ll take to complete them, so you can choose to take them when most convenient for you.

      .panel.panel-default
        #Privacy.panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
              %h3 Privacy and Security
        #collapseFour.panel-collapse.collapse
          .panel-body
            %h4 Is my data safe?
            %p
              Absolutely. We take your privacy very seriously and will do everything we can to protect your information and keep it private and secure. We will do our best to make sure that the personal information we collect about you is kept private and secure. Your information will be transmitted and stored using very secure systems. The network servers where your data are stored sit behind firewalls that do not allow unauthorized access and are physically located in a secure server room that can only be accessed by critical staff members.
            %p
              Please read our
              = link_to 'Privacy Policy', privacy_path
              for more information. We will never sell, rent, or lease your contact information. If information from the MyApnea.Org network is published or presented at scientific meetings, your name and other personal information will not be used.


  / /.col
/ /.row
