- @title = ""

.video-player
  .video-player-inner
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ 'src' => '//player.vimeo.com/video/104640787?title=0&amp;byline=0&amp;portrait=0', 'webkitallowfullscreen' => 'true', 'mozallowfullscreen' => 'true', 'allowfullscreen' => 'true' }
  .video-image.home-image

.film-strip
  .film-strip-panel
    = link_to new_user_registration_path do
      = image_tag 'myapnea/icons/sign-up.png', size: '280x100', alt: 'Sign Up Today'
  - ['susan', 'darrel'].each do |person|
    .film-strip-panel.hidden-xs
      = image_tag "myapnea/team/#{person}.png", class: 'img-thumbnail', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Video Coming Soon!', style: 'cursor:pointer'

#home-page
  .row
    .col-md-10
      %h1= @pc['main_header']
      %p.sub-header= @pc['sub_header']
      = markdown @pc['content']
    .col-md-2.text-center
      %br.hidden-xs/
      %br.hidden-xs/
      #memberCount
        .countHeader= @pc['goal']['header']
        .countGoal= @pc['goal']['number']
        .goalSuffix= @pc['goal']['members']
    %br/
  .row
    - ['learn', 'share', 'research'].each do |topic|
      .col-md-4
        .well.text-center.topic
          %h3= link_to @pc[topic]['title'], send(@pc[topic]['path'])
          %p
            %i= @pc[topic]['content']
  .row
    .col-md-6
      %h2 Our Community
      .map#home-map{data: {path: locations_path}}
    .col-md-6
      %h2 Rate the Research
      %h4
        = link_to "Join today", new_user_registration_path
        to submit and vote on the research topics of tomorrow
      .questions#home-research-qs
        = render partial: "research_topics/research_topics", locals: {research_topics: ResearchTopic.popular.take(5), editable: false, disabled: true}
  .row
    #reason-carousel.carousel.slide
      %ol.carousel-indicators
        - @pc['testimonials'].each_with_index do |testimonial, i|
          %li{class: ('active' if i == 0), data: {slide_to: i, target: "#reason-carousel"}}
      .carousel-inner
        - @pc['testimonials'].each_with_index do |testimonial, i|
          %div{class: "item #{'active' if i == 0}"}
            .row
              .col-md-4
                .testimonial-img-container
                  .visible-xs.visible-sm
                    = image_tag testimonial['image'], class: 'img-thumbnail'
                  .visible-md.visible-lg
                    = image_tag testimonial['image']
              .col-md-5.col-md-offset-1
                .vertical-center
                  %blockquote
                    %p{ 'style' => 'line-height: 1.3;'}= testimonial['quote']
                    %footer.pull-right
                      %cite= testimonial['name']
      %a.left.carousel-control{ data: {slide: 'prev'}, href: "#reason-carousel"}
        %span.icon-prev
      %a.right.carousel-control{ data: {slide: "next"}, href: "#reason-carousel" }
        %span.icon-next

= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=AIzaSyBB91qMUvtmPzct9z7slTqm-lTUEVuYjKo"
= javascript_include_tag 'home'
