= render partial: 'layouts/myapnea/page_header_image', locals: { image: 'myapnea/headers/home.jpg', signup_id: "signup" }

#home-page
  .row.highlightPanelTop
    .col-md-10
      %h1= @pc['main_header']
      %p.sub-header= @pc['sub_header']
      = markdown @pc['content']
    .col-md-2
      #memberCount
        .countHeader= @pc['goal']['header']
        .countGoal= @pc['goal']['number']
        .goalSuffix= @pc['goal']['members']
    - ['learn', 'share', 'research'].each do |topic|
      .col-md-4
        .well.text-center
          %h3= link_to @pc[topic]['title'], send(@pc[topic]['path'])
          %p
            %i= @pc[topic]['content']
  .row.highlightPanel
    .col-md-6
      %h2 Our Community
      .map#home-map{data: {path: locations_path}}
    .col-md-6
      %h2 Rate the Research
      .questions#home-research-qs
        .panel.panel-default
          .panel-heading
            %h4
              = link_to "Join today", new_user_registration_path
              to submit and vote on the research topics of tomorrow
          .list-group.research-questions
            - @research_qs.each_with_index do |q, i|
              .list-group-item
                .row{ data: {id: q.id} }
                  .col-md-3
                    %h4.pull-left= i+1
                    .pull-right= render partial: 'research/partials/rate_question', locals: {question: q, show_badge: true, disabled: true}
                  .col-md-9
                    %h5.text-primary= q.text
  .row.highlightPanel
    #reason-carousel.carousel.slide
      %ol.carousel-indicators
        - @pc['testimonials'].each_with_index do |testimonial, i|
          %li{class: ('active' if i == 0), data: {slide_to: i, target: "#reason-carousel"}}
      .carousel-inner
        - @pc['testimonials'].each_with_index do |testimonial, i|
          %div{class: "item #{'active' if i == 0}"}
            .row
              .col-md-4
                .testimonialImg= image_tag testimonial['image']
              .col-md-7.col-md-offset-1
                .vertical-center
                  .cell
                    %blockquote
                      %p= testimonial['quote']
                      %footer.pull-right
                        %cite= testimonial['name']
      %a.left.carousel-control{ data: {slide: 'prev'}, href: "#reason-carousel"}
        %span.icon-prev
      %a.right.carousel-control{ data: {slide: "next"}, href: "#reason-carousel" }
        %span.icon-next

= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBB91qMUvtmPzct9z7slTqm-lTUEVuYjKo"
= javascript_include_tag 'home'
