- @title = ""

= render partial: 'layouts/myapnea/page_header_image', locals: { image: 'myapnea/headers/learn.jpg', signup_id: "innerSignup" }
#learn-page
  .row.highlightPanelTop
    #Learn.col-sm-8
      %h1= @pc['main_header']
      %p= @pc['content']
      %h2= @pc['questions'][0]['question']
      %p= @pc['questions'][0]['answer']
      %h2= @pc['questions'][1]['question']
      %p= @pc['questions'][1]['answer']
      %h2= @pc['questions'][2]['question']
      %p= @pc['questions'][2]['answer']
      %ul
        - @pc['resources'].each do |resource|
          %li
            = resource['description']
            = link_to resource['link'], resource['link']
      %br/
    .col-sm-4
      #twitter-feed
        %a.twitter-timeline{"data-widget-id" => "501156780731142144", :href => "https://twitter.com/sleepapnea_ed"} Tweets by @sleepapnea_ed
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

