- @title = ""

= render partial: 'layouts/myapnea/page_header_image', locals: { image: 'myapnea/headers/research.jpg', signup_id: "innerSignup" }

#research.row
  .col-md-9
    %h1= @pc['main_header']

    %h2= @pc['who_we_are_title']
    %p= @pc['who_we_are_content']

    %h2= @pc['why_we_need_you_title']
    %p= @pc['why_we_need_you_content']

    %h2= @pc['what_is_the_research_portal_title']
    %p= @pc['what_is_the_research_portal_content']

    %h2= @pc['getting_started_title']
    .instructions
      - @pc['getting_started_steps'].each do |step|
        %h3
          = image_tag 'myapnea/icons/myapnea-logo-transparent.png', size: '28x28', style: 'vertical-align: text-bottom'
          = step['step_title']
        %p= markdown step['step_description']
    %br/
    %br/
  .col-md-3
    = image_tag 'myapnea/icons/apneaIcon.png', class: 'pull-right hidden-sm hidden-xs', style: 'margin-top:50px'
  .text-center
    = link_to new_user_registration_path do
      = image_tag 'myapnea/icons/joinNow.png'
