- @title = ""

= render partial: 'layouts/myapnea/page_header_image', locals: { image: 'myapnea/headers/team.jpg', signup_id: "innerSignup" }

%h1= @pc['main_header']
%h2= @pc['steering_title']
%br/
%br/

#team
  - @pc['steering'].each do |member|
    .row
      .col-md-3
        = image_tag "myapnea/#{member['image']}", class: 'img-responsive'
      .col-md-9
        %h3
          = image_tag 'myapnea/icons/myapnea-logo-transparent.png', size: '28x28', style: 'vertical-align: text-bottom'
          = "#{member['name']}, #{member['role']}"
        %p
          = member['description']
  .row
    %hr.divider-md
  .row
    .col-md-12
      %h2 MyApnea.Org and the Sleep Apnea Patient Centered Outcomes Network
      %p The Sleep Apnea Patient Centered Outcomes Network (SAPCON) is the formal network name for MyApnea.Org. It is coordinated by the American Sleep Apnea Association and the Division of Sleep and Circadian Disorders at Brigham and Women’s Hospital, Harvard Medical School, under the guidance of Principal Investigator Susan Redline, M.D., M.P.H. The MyApnea.Org network is part of a historic national research endeavor that will ultimately enlist 100 million people to provide personal health data to guide the course of comparative effectiveness research for multiple, serious, and chronic diseases. Funded by the Patient-Centered Outcomes Research Institute (PCORI), MyApnea.org/SAPCON is one of 18 Patient-Powered Research Networks (PPRN) that will comprise a national “network of networks” dedicated to conducting comparative effectiveness research. It is an unprecedented effort that will redefine how health research is done in this country, and it holds tremendous promise for people who suffer from these conditions.
  .row
    .col-md-10
      %h3= @pc['funder_header']
      %h4
        %a{ href: "#{@pc['funder_link']}" }= @pc['funder_title']
      = markdown @pc['funder_description']
  .row
    .col-md-10
      %h3= @pc['partners_header']

      - @pc['partners'].each do |partner|
        %h4
          %a{ href: "#{partner['link']}" }= partner['name']
        = markdown partner['description']

      %h4
        =link_to 'American Sleep Apnea Association', 'http://www.sleepapnea.org/'
      %p
        The American Sleep Apnea Association (ASAA), founded in 1990, is a 501(c)(3) nonprofit organization that promotes awareness of sleep apnea, works for continuing improvements in treatments for this serious disease, and advocates for the interests of sleep apnea patients. Its mission is to reduce injury, disability, and death from sleep apnea and to enhance the wellbeing of those affected by this common disorder. The ASAA promotes education and awareness, coordinates the A.W.A.K.E. Network of voluntary support groups, and promotes research and continuous improvement of care.
      %p
        The Association's governing board of directors includes healthcare professionals, patients, and patient advocates among its members. ASAA policy requires that a majority of its directors always be patients and their advocates. Its bylaws also require that the chair of the board be a patient or patient advocate to ensure that ASAA will always be a patient-driven organization.

      %h4
        = link_to "Division of Sleep and Circadian Disorders, Brigham and Women's Hospital", "http://www.brighamandwomens.org/Departments_and_Services/medicine/services/sleepmedicine/default.aspx"
      %p
        Boston's Brigham and Women's Hospital (BWH) is an international leader in virtually every area of medicine and has been the site of pioneering breakthroughs that have improved lives around the world. A major teaching hospital of Harvard Medical School, BWH has a legacy of excellence that continues to grow year after year.
      %p
        The Division of Sleep and Circadian Disorders was formed in 2013 by the Departments of Medicine and Neurology to unify the delivery of clinical care, increase educational opportunities, and promote interdisciplinary research in the fields of sleep and circadian biology. Its mission is to forge a path of discovery in sleep medicine while providing the highest standard of clinical care for patients with sleep disorders and training the next generation of leaders in sleep and circadian biology.

      %h4
        = link_to "Brigham & Women’s Hospital Sleep Medicine Epidemiology Program", 'https://sleepepi.partners.org/about/'
      %p
        Brigham & Women’s Hospital Sleep Medicine Epidemiology Program (SMEP) is an integrated research and clinical program that aims to improve the care of patients with sleep disorders through clinical trials and comparative effectiveness research. SMEP also is a leader in data management for sleep disorders research. It has served as the data coordinating center for comparative effectiveness studies and clinical trials that evaluate sleep apnea interventions. SMEP also has pioneered a novel informatics platform to support sleep research through initiatives supported by the National Institutes of Health (NIH).

      %h4
        = link_to "The Sleep Research Network (SRN)", 'http://www.sleepresearchnetwork.org'
      %p
        The Sleep Research Network (SRN) promotes sustainable, multi-institutional collaborations in clinical and translational research that address significant public health questions related to sleep medicine and circadian biology. SRN also supports the training of the next generation of sleep medicine investigators and is currently comprised of researchers representing 40 institutions that participate in the Clinical and Translational Science Award program across the nation.

      %h4
        = link_to "Informatics for Integrating Biology and the Bedside (i2b2)"
      %p Informatics for Integrating Biology and the Bedside (i2b2) is a National Institute of Health-funded National Center for Biomedical Computing based at Partners HealthCare System in Boston.  Established in 2004, the i2b2 Center is led by Director Isaac Kohane, M.D., Ph.D., professor of pediatrics at Harvard Medical School at Children's Hospital Boston. The center is developing a computational framework to disseminate tools, methodologies, biomedical data sets, and educational materials widely within the biomedical and computational research communities to improve public health.

      %h4
        = link_to "Shared Health Research Information Network (SHRINE)"
      %p The Shared Health Research Information Network (SHRINE) helps researchers overcome one of the greatest problems in population-based research: compiling large groups of well-characterized patients.  Eligible investigators may use the SHRINE web-based query tool to determine the aggregate total number of patients at participating hospitals who meet a given set of inclusion and exclusion criteria (currently demographics, diagnoses, medications, and selected laboratory values).

