<%= hidden_field_tag :question_id, @question.id %>
<%= hidden_field_tag :answer_session_id, @answer_session.id %>
<div class="text-primary"><%= markdown @question.text %></div>
<% if @question.answer_options.present? %>
  <% @question.answer_options.each_with_index do |answer_option, i| %>
    <div class="<%= @question.question_type.input_type %>">
      <label>
        <<%= @question.question_type.tag %> type="<%= @question.question_type.input_type %>" name="<%= @question.id %><%= '[]' if @question.question_type.allow_multiple %>" id="question_<%= "#{@question.id}_#{i+1}" %>" value="<%= answer_option.id%>" <%= "checked" if have_checked?(@answer, answer_option.id) %>/>
        <%= answer_option.value(@question.answer_type.data_type) %>
      </label>
    </div>
  <% end %>
<% else %>
  <div class="form-group">
    <% if @question.unit.present? %>
      <div class="input-group">
    <% end %>
      <<%= @question.question_type.tag %> type="<%= @question.question_type.input_type %>" class="form-control"  name="<%= @question.id %>" id="question_<%= @question.id %>" value="<%= @answer.value %>"  />
      <% if @question.unit.present? %>
        <span class="input-group-addon"><%= @question.unit.name %></span>
      <% end %>
    <% if @question.unit.present? %>
      </div>
    <%end %>
  </div>
<% end %>
