
.panel.panel-default
  .panel-heading
    .row
      .col-md-6
        %h3.panel-title Map

      .col-md-6


        .btn-group.btn-group-sm.pull-right{data: {toggle: "buttons"}}
          %label.btn.btn-default#city-view
            %input{type: "radio", name: "zoomLevel"}
            City
          %label.btn.btn-default#state-view
            %input{type: "radio", name: "zoomLevel"}
            State
          %label.btn.btn-default#country-view.active
            %input{type: "radio", name: "zoomLevel", checked: 'checked'}
            Country
          %label.btn.btn-default#world-view
            %input{type: "radio", name: "zoomLevel"}
            World

  #user_map{data: {path: locations_path}}

  .panel-footer.small
    - if current_user and current_user.social_profile and current_user.social_profile.location
      .pull-right
        You are currently living in
        = current_user.social_profile.location
        = link_to "Update this.", social_profile_path
      .clearfix
    - else
      Where do you live?
      = link_to "Add yourself to this map.", social_profile_path
.graphs

  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Age
        .panel-body
          = image_tag "histogram.png"
          .req age_distribution (hash of age -> count)


    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Gender
        .panel-body
          = image_tag "donut.png"
          .req sex_distribution (sex -> count)


    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Location
        .panel-body
          = image_tag "bar.png"
          .req locations (location(lat/lon, city, state, country) -> count)

  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Surveys Completed
        .panel-body
          = image_tag "pie.png"
          .req surveys_completed [date,survey_id]


    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Research Topic Input
        .panel-body
          = image_tag "histogram.png"

    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Connected Data Sources
        .panel-body
          = image_tag "pie.png"
          .req data_sources_connected [date,data_source_id]

= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBB91qMUvtmPzct9z7slTqm-lTUEVuYjKo"
= javascript_include_tag 'social/maps'
