- @title = "Your Social Profile"

= form_for @social_profile, html: {role: "form", class: 'form-horizontal'}, url: social_profile_path do |f|
  .panel.panel-default
    .panel-heading
      %h4 Do you want other people in the MyApnea.Org community to see you?
      .radio
        %label
          = f.radio_button :show_location, true, id: 'optionsRadios2'
          %strong
            Show me.
          %span.small Add a marker for me on the map that shows the info below.

      .radio
        %label
          = f.radio_button :show_location, false, id: 'optionsRadios1'
          %strong
            Don't show me.
          %span.small Don't let other people on this site see my info or any map marker for me.

    .panel-body
      .form-group
        %label.col-sm-3.control-label
          = image_tag current_user.photo_url, :class => "img-responsive img-thumbnail"
        .col-sm-9
          %h3 Change Photo (optional)
          =f.file_field :photo
      .form-group
        %label.col-sm-3.control-label Name
        .col-sm-6
          =f.text_field(:name, class: 'form-control')
      .form-group
        %label.col-sm-3.control-label City
        .col-sm-6
          =f.text_field(:location, autocomplete: 'off', id: 'location', class: 'form-control')
          =f.hidden_field :latitude
          =f.hidden_field :longitude
          =f.hidden_field :location_id
      .form-group
        %label.col-sm-3.control-label Age
        .col-sm-6
          =f.number_field(:age, class: 'form-control')
      .form-group
        %label.col-sm-3.control-label Sex
        .col-sm-6
          =f.select(:sex, ["Male", "Female", "Other"], {}, class: 'form-control')
      =f.submit("Save", class: 'btn btn-primary pull-right')


-#- if !ccfa_pprn?
-#  .panel.panel-default
-#    .panel-heading
-#      %h4.panel-title Do you want people in the outside world to see you?
-#      .radio
-#        %label
-#          = radio_button "show_location_public", true, id: 'optionsRadios2'
-#          %strong
-#            Show me.
-#          %span.small Add a marker for me on the map that shows the following info.
-#
-#    .panel-body
-#      This is what you'll look like to the outside world:
-#      .text-center [map]
-#      .text-center [photo]





= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBB91qMUvtmPzct9z7slTqm-lTUEVuYjKo"
= javascript_include_tag 'typeahead'
= javascript_include_tag 'typeahead-addresspicker'
= javascript_include_tag 'social/places'
