#answer-session
  .panel.panel-default
    .panel-heading
      = render partial: 'surveys/partials/header', locals: {question_flow: @answer_session.question_flow}
      = render partial: 'surveys/partials/session_progress', locals: {stats: @answer_session.calculate_status_stats(@answer), answer: @answer, answer_session: @answer_session }
    = form_tag(process_answer_path, {role: "form"}) do
      = hidden_field_tag :answer_session_id, @answer_session.id
      .panel-body
        = render partial: 'surveys/partials/help_message' if @question.question_help_message.present?
        - if @group.present?
          = render partial: 'surveys/partials/question_group'
        - else
          = render partial: 'surveys/partials/question_form', locals: {question: @question, answer_session: @answer_session, answer: @answer, parent_q: nil, condition: nil}
      .panel-footer
        = link_to 'Previous Question', previous_question_path(@answer), class: 'btn btn-lg btn-default', tabindex: -1
        %button.btn.btn-primary.btn-lg.pull-right{:name => "direction", :type => "submit", :value => "next"} Next Question