- # Load data using json |
- # Generate Chart       |

= render partial: 'surveys/partials/breadcrumb'

#review.panel-default.panel
  .panel-heading
    %h2
      Thank you for completing the
      %strong= @question_flow.name
      Survey!
  .panel-body
    .list-group
      .alert.alert-info
        Improved feedback for this survey is coming soon. Help us build feedback you'd like to see with
        %a.u-voice your suggestions!
    = render partial: "surveys/reports/report_#{@question_flow.id}" rescue nil

    = render partial: "surveys/reports/default"
