<div id="answer-session">

  <div class="row">
    <div class="col-md-3">
      <%= render partial: "shared/research_nav" %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= render partial: 'surveys/partials/header', locals: { question_flow: @question_flow } %>
          <%= render partial: 'surveys/partials/session_progress', locals: { stats: @answer_session.calculate_status_stats } %>

        </div>
        <div class="panel-body">
          <p>
            <%= markdown @question_flow.description %>
          </p>
        </div>
        <div class="panel-footer">
          <div>
            <%= link_to "Lets Start!", ask_question_path(answer_session_id: @answer_session.id, question_id: @question_flow.first_question.id), class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
