= form_for [forem, @forum, @topic] do |f|
  .form-group
    = f.label :subject, class: 'sr-only'
    = f.text_field :subject, class: 'form-control input-lg', placeholder: User.human_attribute_name(:title), autocomplete: :off
  = f.fields_for :posts do |post|
    = render :partial => "forem/posts/form", :locals => { :f => post }
  = f.submit :class => "btn btn-primary"