


-######################################
-#### NEW USER REGISTRATION FLOW (NOT DELIBERATE, BUT EFFECTIVELY SO) ######
-######################################

-# A.
= render :user_sign_up_form
  -# automatic call to attempt_linkage

-# B.
= render :pairing_wizard_form # shows the result of linkage or whatnot
  -# user clicks "register with CCFA Parters" if not paired
  -# user clicks "next (to dashboard)" if paired

  -# B1. (if user doesn't have existing CCFA partners acct)
    -# visit CCFA partners website to try to register
    -# get redirected back to attempt_linkage which loops back to pairing wizard.

  -# B2. (if user is paired)
    -# Next button enables them to finally get to dashboard

-# D.
= render :dashboard




-######################################
-#### IMPLEMENTATION IN PSUEDO-CODE ######
-######################################





###################
USER.RB
def paired_with_LCP?
  oodt_id.present?
end
#.paired_with_crohnology? (will write later)

## BY DEFAULT
#.oodt_baseline_survey_complete?
#.oodt_baseline_survey_url






###################
PAIRING_WIZARD.HAML


-### MATCHED
- if current_user.paired_with_LCP?
  Congrats, we matched up your email with the OLD legacy CCFA system.
  Jump right into the rest of the site.{#STEP 3}

  -#OPTIONAL?
  - if !current_user.paired_with_crohnology?
    [ ] Pair this account with my Crohnology Account #{if acct found}
    [ ] Create a Crohnology acct #{if no acct found}

  .btn NEXT (enabled if top complete)


-### NOT MATCHED
- else
    -### TRY MATCHING
    Have you already registered on CCFAPartners.com in the past?
    %form{:url => "attempt_linkage"}
      %email

    -### GIVE UP (CREATE NEW ACCOUNT)
    .btn= link_to "Next Step", redirect_to_legacy_reg






###################
HOME/INDEX.HAML (AKA DASHBOARD)
- if !current_user.completed_baseline_survey?
  You need to complete your baseline survey
  = link_to "Click here to do it.", current_user.baseline_survey_url







###################
APPLICATION CONTROLLER
  before_action redirect_to_pairing_if_user_not_paired :except => "registrations#create"  ##### (can do this with CAN-CAN probably)

  ...
END


################
SESSIONS_CONTROLLER
  after :create, fetch_and_store_oodt_status (oodt status call) ### CCFA PPRN ONLY

  def fetch_and_store_oodt_status
    current_user.fetch_and_store_oodt_status
  end
end



###################
REGISTRATIONS_CONTROLLER
  OODT CONCERN (?)
  after_action :create, attempt_linkage (CCFAPPRN ONLY)


  def create
    ... ## (run of the mill create new user stuff)
  end

  def attempt_linkage
    response = current_user.try_to_link(params[:email])
    if link_successful
      :alert => "Successfully linked your Partners account to Portal"
    end

    render "pairing wizard"
  end


  def redirect_to_legacy_reg
    redirect_to current_user.fetch_reg_url, :redirect_url => attempt_linkage_url
  end

  ...
end










