#consent.row
  .col-md-12
    .panel.panel-primary
      .panel-heading
        %p
      #consent.panel-body
        .row
          .col-md-12
            #print-area
              - if current_user.present? and !current_user.accepted_consent_at.present?
                = markdown "If you wish to be in this study, please click the button that says **“I have read the consent”**"
            %br/
            = link_to "#", id: "print-link", class: 'print-link pull-right btn btn-xs btn-info' do
              %i.fa.fa-print
              Print Consent
      - if current_user
        .text-center.panel-footer
          - if current_user.can? :participate_in_research
            = link_to :back, class: 'btn btn-lg btn-success' do
              .fa.fa-arrow-left
              &nbsp;
              Go Back
            = link_to "View Privacy Policy", privacy_path, class: 'btn btn-lg btn-info'
            = link_to "Leave Research Study", account_path, class: 'btn btn-warning btn-lg'
          - else
            = form_tag consent_path do
              %input.btn.btn-primary.btn-lg{:name => "consent_read", :type => "submit", value: "I have read the consent#{current_user.accepted_privacy_policy? ? ' and I agree to participate' : ''}"}
              %input.btn.btn-danger.btn-lg{:name => "declined_to_participate", :type => "submit", :value => 'I decline'}