%h1 Welcome to MyApnea.Org!

%p We're very excited to have you as a member of this community. This page is your dashboard where you can access and participate in the MyApnea.Org community and research.

%h3 New here? Here are some slides to introduce you to the site

#reason-carousel.carousel.slide
  %ol.carousel-indicators
    %li{ class: 'active', data: { slide_to: '0', target: "#reason-carousel" } }
    %li{ data: { slide_to: '1', target: "#reason-carousel" } }
    %li{ data: { slide_to: '2', target: "#reason-carousel" } }
    %li{ data: { slide_to: '3', target: "#reason-carousel" } }
    %li{ data: { slide_to: '4', target: "#reason-carousel" } }
  .carousel-inner
    %div{ class: "item active" }
      = image_tag 'myapnea/dashboard/slide-01-social-profile.png'
      .carousel-caption{ style: 'border-radius: 4px; background-color:#f0ad4e' }
        Step 1: Create a social profile
    %div{ class: "item" }
      = image_tag 'myapnea/dashboard/slide-02-posting-to-forum.png'
      .carousel-caption{ style: 'border-radius: 4px; background-color:#f0ad4e' }
        Step 2: Post your thoughts on the forums
    %div{ class: "item" }
      = image_tag 'myapnea/dashboard/slide-03-replying-to-posts.png'
      .carousel-caption{ style: 'border-radius: 4px; background-color:#f0ad4e' }
        Step 3: Reply to other users' posts
    %div{ class: "item" }
      = image_tag 'myapnea/dashboard/slide-04-consent-privacy.png'
      .carousel-caption{ style: 'border-radius: 4px; background-color:#f0ad4e' }
        Step 4: Read and sign research consent
    %div{ class: "item" }
      = image_tag 'myapnea/dashboard/slide-05-filling-out-surveys.png'
      .carousel-caption{ style: 'border-radius: 4px; background-color:#f0ad4e' }
        Step 5: Fill out surveys to help researchers
  %a.left.carousel-control{ data: {slide: 'prev'}, href: "#reason-carousel"}
    %span.icon-prev
  %a.right.carousel-control{ data: {slide: "next"}, href: "#reason-carousel" }
    %span.icon-next


%h3
  So, what to do next? Use the links to the left to:
%ul
  %li
    = link_to 'Create a social profile', social_profile_path
    to join and contribute to the community
  %li
    Get involved in sleep apnea research by
    = link_to 'signing a consent form', consent_path


%h3 Lost? Have a question, comment, or suggestion?
%p
  = link_to "Click here", '#', class: 'u-voice'
  to contact us.


= javascript_include_tag 'dashboard'
