
.row
  .col-md-12

    .panel.panel-default.research_topics
      .panel-heading
        %ul.nav.nav-pills{role: "tablist"}
          %li{class: ("active" if params[:active_tab].nil? || params[:active_tab] == "popular")}
            %a{"data-toggle" => "tab", href: "#popular", role: "tab", "data-target-path" => research_topics_ajax_path} Popular
          %li{class: ("active" if params[:active_tab] == "most_discussed")}
            %a{"data-toggle" => "tab", href: "#most_active", role: "tab", "data-target-path" => research_topics_ajax_path} Most Discussed
          %li{class: ("active" if params[:active_tab] == "newest")}
            %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_topics_ajax_path} Newest

      .tab-content
        #popular.tab-pane{class: ("active" if params[:active_tab].nil? || params[:active_tab] == "popular")}= render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_popular, kind: :popular}
        #most_active.tab-pane{class: ("active" if params[:active_tab] == "most_discussed")}= render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_most_discussed, kind: :most_discussed}
        #newest.tab-pane{class: ("active" if params[:active_tab] == "newest")}= render partial: "research_topics/research_topics", locals: {research_topics: @research_topics_newest, kind: :newest}


.row
  .col-md-6
    -# My Votes
    = render partial: "research_topics/research_topics_voted_on"
  .col-md-6
    -# My Questions
    = render partial: "research_topics/my_research_topics"

