-##############
-### COMMUNITY CONTRIBUTIONS
-##############
- scores = { "Proposed Questions" => "56", "Votes Cast" => "329", "Being Researched" => "2" }
- content_for :community_contributions, render(:partial => "/shared/community_scoreboard", locals: { scores: scores })


-##############
-### YOUR CONTRIBUTIONS
-##############
- content_for :your_contributions do
  = render partial: "shared/badge_list"




-##############
-### MAIN CONTENT SECTION
-##############
%ul.nav.nav-tabs{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#research-democracy", role: "tab"} Patient-Proposed Research
  %li
    %a{"data-toggle" => "tab", href: "#surveys", role: "tab"} Surveys
  %li
    %a{"data-toggle" => "tab", href: "#activity-log", role: "tab"} Research Access Log
  %li.pull-right
    %a{"data-toggle" => "tab", :href => "#tutorial"}
      %i.fa.fa-info-circle
      Tutorial
%br/

.row
  .col-md-12
    .tab-content
      #research-democracy.tab-pane.active
        = render partial: "research_democracy"
      #surveys.tab-pane
        = render partial: "survey_scorecard"
      #activity-log.tab-pane
        = render partial: "activity_log"
      #tutorial.tab-pane
        = render partial: "tutorial"



