= # render partial: 'shared/coming_soon'

%ol.breadcrumb.research
  %li
    = link_to "Research", user_dashboard_path
  %li.active Research Topics

- if current_user
  .row.vote_counter{"data-target-path" => vote_counter_path}
    = render partial: 'research/vote_counter'

%br/

%ul.nav.nav-tabs.nav-justified{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#popular", role: "tab", "data-target-path" => research_questions_path} Most Votes
  - if current_user
    %li
      %a{"data-toggle" => "tab", href: "#mine", role: "tab", "data-target-path" => research_questions_path} My Votes
  %li
    %a{"data-toggle" => "tab", href: "#newest", role: "tab", "data-target-path" => research_questions_path} Newest

/ Tab panes
.tab-content
  #popular.tab-pane.active= render partial: "shared/research_topics", locals: {research_questions: Vote.popular_research_questions, editable: false, disabled: false}
  - if current_user
    #mine.tab-pane= render partial: "shared/research_topics", locals: {research_questions: Vote.user_research_questions(current_user), editable: false, disabled: false}
  #newest.tab-pane= render partial: "shared/research_topics", locals: {research_questions: Vote.new_research_questions, editable: false, disabled: false}

%form.form-horizontal
  .form-group
    .col-sm-10
      %input.form-control.input-lg{type: "text", placeholder: "Post your own comments on this topic - coming soon!", disabled: true}
    .col-sm-2
      %button.btn.btn-primary.btn-lg.btn-block{type: 'submit', disabled: true} Reply





