
- title("Research")

.row
  .col-md-3
    = render :partial => "shared/research_nav", locals: {action_name: "research"}



  .col-md-9


    .row
      .col-md-1
        %div{:style => "font-size: 36px; line-height: 36px; text-align:center; padding-top: 20px;"}
          %i.fa.fa-star-o
          = rand(0..99)


      .col-md-11
        %h2= @pprn_research_questions.shuffle.first

        %p This is why and how I think we should research it. Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum. Nunc condimentum dolor eget erat varius, sit amet vulputate ipsum feugiat. Duis porttitor dolor a tortor dignissim, vel fringilla elit interdum. Vestibulum vitae bibendum massa. Integer ultricies eleifend laoreet. In ut nisl purus.

      %br/

    .row
      .col-md-12

        .alert.alert-info
          .req What stages should be available?
          .label.label-primary Under Consideration
          %span.small
            This research proposal is currently <strong>under consideration</strong> by the research team.
            Add your vote and voice to help increase the chances this research topic gets studied.




        .panel.panel-default
          .panel-heading
            %h4.panel-title.pull-left Discussion
            %small.pull-right 112 Comments
            .clearfix
          .panel-body
            %small
              .media
                %a.pull-left
                  %img.media-object.img-circle{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seares@gmail.com')}?d=identicon", :width => "48px"}
                .media-body
                  %a{:href=>"/blog"}
                  Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.

              .media
                %a.pull-left
                  %img.media-object.img-circle{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('se@gmail.com')}?d=identicon", :width => "48px"}
                .media-body
                  %a{:href=>"/blog"}
                  Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.
              .media
                %a.pull-left
                  %img.media-object.img-circle{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seares@gmail.com')}?d=identicon", :width => "48px"}
                .media-body
                  %a{:href=>"/blog"}
                  Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.

              .media
                %a.pull-left
                  %img.media-object.img-circle{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('se@gmail.com')}?d=identicon", :width => "48px"}
                .media-body
                  %a{:href=>"/blog"}
                  Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.
              .media
                %a.pull-left
                  %img.media-object.img-circle{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('seares@gmail.com')}?d=identicon", :width => "48px"}
                .media-body
                  %a{:href=>"/blog"}
                  Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro.

              .media
                %a.pull-left
                  %img.media-object.img-circle{:src => "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('se@gmail.com')}?d=identicon", :width => "48px"}
                .media-body
                  %a{:href=>"/blog"}
                  Lorem ipsum dolor sit amet, ius sonet veniam signiferumque eu, pri ad libris aperiam euripidis. Est ei ferri dolores, purto equidem ea eum. Latine tibique detracto cu pro. Usu movet oporteat apeirian no, te pri quis quando. Mandamus pertinacia mel in, in vim laoreet lucilius. Mundi repudiandae consectetuer et eos, nam ex sumo recusabo.

              .media
                .pull-right.btn.btn-sm.btn-primary Reply


    / .panel.panel-default
    /   .panel-heading
    /     %h3.panel-title Proposed By...

    /   .panel-body
    /     .media
    /       %a.pull-left
    /         = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(rand.to_s)}?d=identicon", :class => " media-object img-circle user-avatar"
    /       .media-body.small
    /         %strong
    /           = random_name
    /         %p
    /           = random_place
    /       .clearfix

