%ol.breadcrumb.research
  %li
    = link_to "Research", user_dashboard_path
  %li
    = link_to "Research_Topics", research_topics_path
  %li.active View Topic

.row
  .col-md-12
    .row
      .col-md-1
        %h2
          %i.fa.fa-check-square-o
          =@question.rating
      .col-md-11
        = link_to research_topics_path, class: "btn btn-primary btn-xs pull-right" do
          .fa.fa-arrow-left
          Back to Questions
        %h2
          = @question.text
        %p.hidden This is why and how I think we should research it. Fusce erat velit, luctus at tempor non, hendrerit sit amet ligula. Praesent quis eleifend magna. Proin nec nibh ut mi elementum tristique sit amet non est. Etiam vitae molestie lectus. Mauris ut nisl augue. Donec sollicitudin ut erat eget vestibulum. Nunc condimentum dolor eget erat varius, sit amet vulputate ipsum feugiat. Duis porttitor dolor a tortor dignissim, vel fringilla elit interdum. Vestibulum vitae bibendum massa. Integer ultricies eleifend laoreet. In ut nisl purus.

      %br/

    .row
      .col-md-12

        .alert.alert-info.hidden
          .req What stages should be available?
          .label.label-primary Under Consideration
          %span.small
            This research proposal is currently <strong>under consideration</strong> by the research team.
            Add your vote and voice to help increase the chances this research topic gets studied.
        .panel.panel-default
          .panel-heading
            %h4.panel-title.pull-left Discussion
            %small.pull-right 0 Comments
            .clearfix
          .panel-body
            %h3.text-muted.text-center Discussion coming soon!
            %br/
            %form.form-horizontal
              .form-group
                .col-sm-10
                  %input.form-control{type: "text", placeholder: "Post your own comments on this topic - coming soon!", disabled: true}
                .col-sm-2
                  %button.btn.btn-primary{type: 'submit', disabled: true} Reply


    / .panel.panel-default
    /   .panel-heading
    /     %h3.panel-title Proposed By...

    /   .panel-body
    /     .media
    /       %a.pull-left
    /         = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(rand.to_s)}?d=identicon", :class => " media-object img-circle user-avatar"
    /       .media-body.small
    /         %strong
    /           = random_name
    /         %p
    /           = random_place
    /       .clearfix

