- content_for :community_contributions do
  .row
    .col-md-7
      .panel.panel-primary
        .panel-heading
          Community Contributions
        .panel-body.text-right
          .row
            .col-md-4
              Surveys Answered
              %br/
              %span.h0 560
            .col-md-4
              Symptom Check-ins
              %br/
              %span.h0 1.3k
            .col-md-4
              Members Doing
              %br/
              %span.h0 350

- content_for :your_contributions do
  = render partial: "shared/badge_list", :locals => {badges: [{title:"Frequent Check-iner",body:"You've done 40 frequent surveys", icon: "fa-clock-o", earned: true},
                                                              {title:"Dutiful Citizen",body:"You've responded to 10 biannual surveys!", icon: "fa-list-ul"},  {title:"On Fire!",body:"You are on a 5 survey streak!", icon: "fa-fire", earned: true} ]}



.panel.panel-default
  / .panel-heading
  /   %h3.panel-title Frequent Survey Questions
  .list-group
    - current_user.incomplete_surveys.each do |survey|
      = link_to start_or_resume_survey(survey, survey.most_recent_answer_session(current_user)), class: 'list-group-item' do
        %h3
          = survey.name
          .btn.btn-success.btn-lg.pull-right
            Resume
            &nbsp;
            .fa.fa-arrow-right
          = render partial: 'surveys/partials/session_progress', locals: {stats: survey.completion_stats(current_user), question_flow: survey, answer: nil}
    - current_user.unstarted_surveys.each do |survey|
      = link_to start_or_resume_survey(survey), class: 'list-group-item' do
        %h3
          = survey.name
          .btn.btn-success.btn-lg.pull-right
            Start
            &nbsp;
            .fa.fa-arrow-right
        %p Survey not yet started.
        %p
          %strong
            Estimated time commitment:
            = survey.total_time.ceil
            minutes for
            = survey.all_questions.length
            questions.
          //= link_to "Complete Survey", start_or_resume_survey(survey), class: "btn btn-success btn-sm"

.panel.panel-default
  .panel-heading
    %h3.panel-title Surveys You've Completed
  %table.table
    %thead
      %th Date
      %th Survey
    %tbody
      %tr
        %td Feb 2014
        %td Recurring Six-Month Survey
      %tr
        %td Aug 2013
        %td Recurring Six-Month Survey
      %tr
        %td Jan 2013
        %td Recurring Six-Month Survey




  / .list-group
  /   - if current_user.complete_surveys.empty?
  /     .list-group-item
  /       %span.text-info None so far!
  /   - current_user.complete_surveys.each do |survey|
  /     .list-group-item
  /       %h3= survey.name
  /       %p
  /         %strong Survey finished!
  /       %div
  /         = link_to 'Review Answers', survey_report_path(answer_session_id: survey.most_recent_answer_session(current_user).id), class: 'btn btn-default btn-sm'
  /         = link_to 'Retake Survey', start_survey_path(question_flow_id: survey.id), class: 'btn btn-default btn-sm', data: {confirm: "Are you sure you want to retake the questionnaire?", description: "All your progress will be lost, and you'll have complete the questionnaire again."}


