%link{href: "", rel: "shortcut icon"}/

-# Stylesheets
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag "font-awesome-4.1.0/css/font-awesome.min.css"
-# %link{href: "/stylesheets/#{current_page.path.split('.').first}.css", rel: "stylesheet"}/

-# Javascript
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= javascript_include_tag 'bootstrap'

-# Cross-Site Forgery Request Protection
= csrf_meta_tags

/ HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
/[if lt IE 9]
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
