!!!

%html{lang: "en"}
  %head

    %title= yield(:title) + " " + PPRN_TITLE
    = render "layouts/before_scripts"


  %body{screen_capture_injected: "true"}
    .container{role: "main"}

      = render "layouts/navigation/top_navigation_bar"
      = render "layouts/flash_messages"


      - if content_for(:sublayout)
        = yield :sublayout # the sublayouts must make their own call to yield
      - else
        = yield


      = render "layouts/footer"
      = render "layouts/after_scripts"





