!!!
-# saved from url=(0050)http://getbootstrap.com/examples/starter-template/
%html{lang: "en"}
  %head
    %link{href: "", rel: "shortcut icon"}/

    -# Stylesheets
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'pages'
    = stylesheet_link_tag "font-awesome.min.css"
    -# %link{href: "/stylesheets/#{current_page.path.split('.').first}.css", rel: "stylesheet"}/

    -# Javascript
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'bootstrap'

    -# Cross-Site Forgery Request Protection
    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    -# Page Title
    %title= yield(:title) + " " + @pprn_title

%body{screen_capture_injected: "true"}
  .container{role: "main"}

    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"}
            = @pprn_title
            %span.req
        .collapse.navbar-collapse
          %ul.nav.navbar-nav

            %li
              %a{href: "/research"}
                Research Dashboard

            -# Private Pages
            - if current_user
              %li
                %a{href: "/data"}
                  %strong My Health Data

              -# myapnea only
              - if myapnea_pprn?
                %li
                  %a{href: "/discussion"}
                    %strong Discussion


            -# Public Pages
            %li
              %a{href: "/social"} Patients
            %li
              %a{href: "/blog"} Blog
            %li
              %a{href: "/findings"} Findings





          %ul.nav.navbar-nav.pull-right
            %li
              %a.req{href: "/req", style: "display:none !important; color: red;"}


            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  My Settings
                  %b.caret
                %ul.dropdown-menu


                  %li
                    %a{href: "/account"}
                      %i.fa.fa-user &nbsp; Account Settings
                  %li
                    %a{href: "/admin", :title => "Admin Panel"}
                      %i.fa.fa-wrench &nbsp; Admin Panel
                  %li
                    = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_user_session_path, :method => :delete

                  -# Developer / Admin Tools
                  %li.divider

                  - if Rails.env.development?
                    %li
                      %a{href: "/pprn", :title => "Toggle through PPRNs"}
                        %i.fa.fa-random &nbsp; Change PPRN
                  %li
                    %a.small{href: "/req", :title => "Toggle on/off on-page Requirements", :style => "color: red;"}
                      %i.fa.fa-flag#requirements-toggler &nbsp; Show Requirements

            - else
              %li
                %a{:href => new_user_session_path}
                  %i.fa.fa-sign-in
                    Sign In

    / Page Header
    .row
      .col-xs-12
        - if content_for?(:title)
          .page-header
            %h1
              = yield(:title)
        - else
          .page-header-blank

        = render partial: "shared/flash_messages", flash: flash

    = yield

  %hr/

  .row
    .col-md-12
      %center
        %a{href: "/about"} About
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %a{href: "/terms"} Terms of Service
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %a{href: "/privacy"} Privacy Policy


  -# Should prob download Jquery for dev purposes
  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}

  -# Developer Mode: Show Embedded Requirements for Team Identification
  :javascript
    $(document).ready( function() {
      if (#{req?})
        $(".req").show();
    } );

