!!!
/ saved from url=(0050)http://getbootstrap.com/examples/starter-template/
%html{lang: "en"}
  %head

    / Shortcut Icon
    %link{href: "", rel: "shortcut icon"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'pages'

    = javascript_include_tag 'bootstrap'



    / %link{href: "/stylesheets/#{current_page.path.split('.').first}.css", rel: "stylesheet"}/
    / Font Awesome
    = stylesheet_link_tag "font-awesome.min.css"

    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    / Page Title
    / Use @title, @html_title, or @page_title, in this order of preference.
    / %title= current_page.data.title || current_page.data.html_title || current_page.data.page_title

%body{screen_capture_injected: "true"}
  .container{role: "main"}

    .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"}
            = @pprn_title
        .collapse.navbar-collapse
          %ul.nav.navbar-nav

            -# Private Pages
            - if current_user
              %li
                %a{href: "/research"}
                  %strong Research Dashboard
              %li
                %a{href: "/data"}
                  %strong My Health Data

              -# SAPCON only
              - if sapcon_pprn?
                %li
                  %a{href: "/discussion"}
                    %strong Discussion


            -# Public Pages
            %li
              %a{href: "/social"} Patients
            %li
              %a{href: "/blog"} Blog
            %li
              %a{href: "/findings"} Findings





          %ul.nav.navbar-nav.pull-right
            %li
              %a.req{href: "/req", style: "display:none !important; color: red;"}


            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  My Settings
                  %b.caret
                %ul.dropdown-menu


                  %li
                    %a{href: "/account"}
                      %i.fa.fa-gear &nbsp; Account Settings
                  %li
                    %a{href: "/admin", :title => "Admin Panel"}
                      %i.fa.fa-wrench &nbsp; Admin Panel
                  %li
                    = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_user_session_path, :method => :delete

                  -# Developer / Admin Tools
                  %li.divider
                  %li
                    %a{href: "/pprn", :title => "Toggle through PPRNs"}
                      %i.fa.fa-random &nbsp; Change PPRN
                  %li
                    %a{href: "/req", :title => "Toggle on/off on-page Requirements"}
                      %i.fa.fa-flag#requirements-toggler &nbsp; Show Requirements

            - else
              %li
                = link_to "<i class='fa fa-sign-in'></i> Sign in".html_safe, new_user_session_path


    / Page Header
    .row
      .col-xs-12
        - if @hide_page_header
          .page-header-blank
        - else
          .page-header
            %h1
              = @page_title || action_name.capitalize
    = yield

  %hr/

  .row
    .col-md-12
      %center
        %a{href: "/about"} About
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %a{href: "/terms"} Terms of Service
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %a{href: "/privacy"} Privacy Policy



  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}

  :javascript
    $(document).ready( function() {
      if (#{req?})
        $(".req").show();
    } );

