%h2 Community
.list-group
  - if current_user.created_social_profile?
    %a.list-group-item{href: main_app.social_profile_path, class: "#{"active" if action_name == "profile"}"} My Social Profile
  - else
    %a.list-group-item#social-profile-link{href: main_app.social_profile_path, class: "#{"active" if action_name == "profile"}"} Create Social Profile
  %a.list-group-item{href: main_app.social_path, class: "#{"active" if action_name == "overview"}"} Overview
  %a.list-group-item{href: forem.root_path, class: "#{"active" if controller_path =~ /forem/} #{'disabled' unless current_user.created_social_profile?}"}
    - unless current_user.created_social_profile?
      %i.fa.fa-lock
    Discussion Forum
.small
  %p Description of Community Section

%h2 Research
.list-group
  - if current_user.signed_consent?
    .list-group-item.list-group-item-success You have signed the consent!
  - else
    %a.list-group-item#consent-link{href: main_app.consent_path, class: "#{"active" if action_name == "consent"}"} Sign consent
  %a.list-group-item{href: main_app.surveys_path, class: "#{"active" if action_name == "research_surveys"} #{'disabled' unless current_user.signed_consent?}"}
    - unless current_user.signed_consent?
      %i.fa.fa-lock &nbsp;
    My Surveys
    %span.badge= QuestionFlow.unstarted(current_user).count

.small
  %p Description of Research Section

%h2 Coming Soon!
.list-group
  %a.list-group-item{href: main_app.research_topics_path, class: "#{"active" if action_name == "research_topics"}"}
    Research Topics
  %a.list-group-item{href: main_app.research_today_path, class: "#{"active" if action_name == "research_today"}"}
    Daily Trends
  %a.list-group-item{href: main_app.data_connections_path, class: "#{"active" if action_name == "data_connections"}"} My Data Connections
  %a.list-group-item{href: main_app.data_explore_path, class: "#{"active" if action_name == "explore"}"} My Health Data
  / %a.list-group-item{href: main_app.data_reports_path, class: "#{"active" if action_name == "reports"}"} My Reports
  %a.list-group-item{href: main_app.data_medications_path, class: "#{"active" if action_name == "medications"}"} My Medications
.small
  %p Description of Data Section
