.navbar.navbar-default{role: "navigation", :style => "background-color: white; border-color: white; margin-top: 20px;"}
  -#.navbar-fixed-top
  .container{:style => "padding-left: 0px;"}
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/", :style => "color: black; font-size: 200%; margin-right: 10px;"}
        = @pprn_title
        %span.req
    .collapse.navbar-collapse
      / %ul.nav.navbar-nav

      /   %li{:class => "#{"active" if @active_top_nav_link == :research}"}
      /     %a{href: main_app.social_path} Community

      /   %li{:class => "#{"active" if @active_top_nav_link == :health_data}"}
      /     %a{href: main_app.explore_path} My Health Data




      %a.btn.btn-success.navbar-btn{href: main_app.social_path, :class => "#{"active" if @active_top_nav_link == :research}"} Patient Community

      %a.btn.btn-primary.navbar-btn{href: main_app.explore_path, :class => "#{"active" if @active_top_nav_link == :health_data}"} My Health Data


      %ul.nav.navbar-nav.pull-right
        %li
          %a.req{href: "/req", style: "display:none !important; color: red;"}


        - if current_user



          / Single button
          .btn-group
            %button.btn.btn-default.navbar-btn.dropdown-toggle{"data-toggle" => "dropdown", type: "button", :class => "#{"active" if action_name == "account" || controller_name == "admin"}"}
              Settings
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{href: "/account"}
                  %i.fa.fa-user &nbsp; Account Settings
              - if current_user.can?(:view_admin_dashboard)
                %li
                  %a{href: "/admin", :title => "Admin Panel"}
                    %i.fa.fa-wrench &nbsp; Admin Panel
              %li
                = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, main_app.destroy_user_session_path, :method => :delete


        - else
          .btn-group
            %a.btn.btn-default.navbar-btn{type: "button", :href => new_user_session_path}
              Sign in


%hr/