
-##############
-##### Top Navigation Bar
-##############

.row
  .col-md-12.pprn-heading

    -#### Title
    %a{href: root_path, style: "color: #222"}
      %h1.pull-left= Figaro.env.pprn_title


    -##############
    -##### Upper Right Small Nav
    -##############
    .pull-right
      %br/

      %ul.nav.nav-pills.small
        %li
          %a{:href => main_app.content_path(page: "about_partners")} About
        %li
          %a{:href => main_app.resources_path} Resources
        %li
          = mail_to Figaro.env.support_email, "Help"


        -##### User Account Stuff / Sign Out
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              My Settings
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: main_app.account_path}
                  %i.fa.fa-user &nbsp; Account Settings
              - if current_user.can?(:view_admin_dashboard)
                %li
                  %a{href: main_app.admin_path, :title => "Admin Panel"}
                    %i.fa.fa-wrench &nbsp; Admin Panel
          -# Sign Out
          %li
            = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, main_app.destroy_user_session_path, :method => :delete

        - else
          -##############
          -##### Sign Up / Sign In
          -##############
          %li
            %a{:href => main_app.new_user_session_path}
              %i.fa.fa-sign-in
                Sign In / Up

    .clearfix
    %hr



-##############
-##### Major Top Nav Links
-##############

.row
  .col-md-12.pprn-nav
    %ul.nav.nav-pills.top-nav
      %li{:class => "#{"active" if @active_top_nav_link == :home}"}
        %a{href: main_app.home_path} Home
      %li{:class => "#{"active" if @active_top_nav_link == :research}"}
        %a{href: main_app.research_path} Research
      %li{:class => "#{"active" if @active_top_nav_link == :health_data}"}
        %a{href: main_app.health_data_path} My Health Data
      %li{class: "#{"active" if @active_top_nav_link == :members}"}
        %a{href: main_app.members_path} Members