
.row
  .col-md-12.pprn-heading
    %a{href: root_path, style: "color: #222"}
      %h1.pull-left= PPRN_TITLE


    .pull-right
      %br/


      %ul.nav.nav-pills.small
        %li
          %a{:href => content_path(page: "about_partners")} About
        %li
          %a{:href => content_path(page: "resources")} Resources
        %li
          %a{:href => "#"} Help

        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              My Settings
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: account_path}
                  %i.fa.fa-user &nbsp; Account Settings
              - if current_user.can?(:view_admin_dashboard)
                %li
                  %a{href: admin_path, :title => "Admin Panel"}
                    %i.fa.fa-wrench &nbsp; Admin Panel
              %li
                = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, main_app.destroy_user_session_path, :method => :delete
        - else
          %li
            %a{:href => new_user_session_path}
              %i.fa.fa-sign-in
                Sign In

    .clearfix
    %hr



.row
  .col-md-12.pprn-nav
    %ul.nav.nav-pills.top-nav
      %li{:class => "#{"active" if @active_top_nav_link == :home}"}
        %a{href: home_path} Home
      %li{:class => "#{"active" if @active_top_nav_link == :research_topics}"}
        %a{href: research_topics_path} Research Topics
      %li{:class => "#{"active" if @active_top_nav_link == :health_data}"}
        %a{href: data_explore_path} Health Data
      %li{class: "#{"active" if @active_top_nav_link == :surveys}"}
        %a{href: surveys_path} Surveys
      %li{class: "#{"active" if @active_top_nav_link == :community}"}
        %a{href: social_path} Community

      - if PPRN == :my_apnea
        %li
          %a{href: forem.root_path, class: "#{"active" if controller_path =~ /forem/}"} Discussion


